*.pyc
*.idea
*.db
*.db-*
*.sass-cache
*.orig
*.json
config/*
!config/*.example
geofences/*
!geofences/*.example
node_modules/
venv/
core
src/
_build
_build_html
beehive.*
static/css/custom.css
static/data/parks/
static/data/rarity/
static/dist/
static/images/appicons/custom/
static/images/header/*.jpeg
static/images/header/*.png
!static/images/header/rocket.png
static/images/raid/*.png
!static/images/raid/*_unknown.png
static/images/generated/*
static/icons-sprite.png
static/icons-large-sprite.png
static/icons/*.png
!static/icons/hsl*.png
static/js/custom.js
static/sounds/cries/*.mp3
static/sounds/cries/*.wav
*.csv
*.bat
*.sh
*.log
.DS_Store
!docs/make.bat
!Tools/Easy-Setup/easy-setup.sh
!Tools/Easy-Setup/setup.bat
!contrib/supervisord/gen-workers.sh
!contrib/supervisord/install-reinstall.sh
