requests
flask-cors
flask-cachebuster
flask-compress
colorlog
s2sphere
git+https://github.com/Map-A-Droid/pgoapi.git#egg=pgoapi
configargparse
psutil
cHaversine
peewee==3.10
cachetools
PyMySQL
overpy
matplotlib
