requests
flask-cors
flask-cachebuster
flask-compress
colorlog
s2sphere
git+https://github.com/Map-A-Droid/pgoapi.git#egg=pgoapi
configargparse
psutil
cHaversine
peewee
cachetools
git+https://github.com/Map-A-Droid/MrMime.git#egg=MrMime
PyMySQL
