requests
flask-cors
flask-cachebuster
flask-compress
colorlog
s2sphere
git+https://github.com/Map-A-Droid/pgoapi.git#egg=pgoapi
configargparse
psutil
cHaversine
peewee
cachetools
git+https://github.com/delenca/MrMime.git@8bb93a4d72d3d198fa6fa7b4a3be9742fd9205d4#egg=MrMime
PyMySQL
