.leaflet-popup-content #ex-icon {
  vertical-align: middle;
}

.leaflet-popup-content #gym-container {
  display: flex;

  #gym-container-left {
    margin: auto 19px auto 0;
    text-align: center;

    .gym-image {
      border-radius: 32px;
      border-width: 3px;
    }

    .team {
      font-size: 14px;
    }
  }
}

.leaflet-popup-content #raid-container {
  display: flex;

  #raid-container-left {
    margin: auto 19px auto 0;
    text-align: center;

    #egg-image {
      display: block;
    }
  }

  #raid-container-right {
    .title.ongoing {
      margin-bottom: 0px;
    }

    .move-type-icon {
      vertical-align: middle;
    }
  }
}

.gym-image {
  border-style: solid;
  cursor: zoom-in;

  &:hover {
    opacity: 0.7;
  }

  &.mystic {
    border-color: $mystic-blue;
  }

  &.valor {
    border-color: $valor-red;
  }

  &.instinct {
    border-color: $instinct-yellow;
  }

  &.uncontested {
    border-style: none;
  }
}

.team {
  &.mystic {
    color: $mystic-blue;
  }

  &.valor {
    color: $valor-red;
  }

  &.instinct {
    color: $instinct-yellow;
  }
}

.raid-level-1, .raid-level-2 {
  color: rgb(252, 112, 176);
}

.raid-level-3, .raid-level-4 {
  color: rgb(255, 158, 22);
}

.raid-level-5 {
  color: rgb(184, 165, 221);
}

.raid-level-6 {
  color: rgb(141, 54, 40);
}

.wsnowrap {
  white-space: nowrap;
}
