.gym {
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;

  &.name-container {
    margin-bottom: 13px;
    text-align: center;

    .name {
      font-size: 14px;
      font-weight: 900;
    }
  }

  &.title {
    font-size: 14px;
    font-weight: 900;
    margin-bottom: 6px;
  }

  &.container {
    display: flex;

    &.content-left {
      margin: auto 19px auto 0;
      text-align: center;
    }

    &.content-right {
      margin: auto 0 auto 0;
    }
  }

  &.image {
    border-radius: 32px;

    &.mystic {
      border: 3px solid rgba(0,134,255,1);
    }

    &.valor {
      border: 3px solid rgba(255,26,26,1);
    }

    &.instinct {
      border: 3px solid rgba(255,159,25,1);
    }
  }

  &.sprite {
    display: block;
    margin-bottom: 6px;
  }

  &.team, &.ex-gym {
    font-size: 14px;
    font-weight: 900;
  }

  &.mystic {
    color: rgba(0,134,255,1);
  }

  &.valor {
    color: rgba(255,26,26,1);
  }

  &.instinct {
    color: rgba(255,159,25,1);
  }

  &.gym-info {
    margin-bottom: 6px;
  }

  &.pokemon {
    @media screen and (max-width: 320px) {
      font-size: 8px !important;
    }
    font-size: 9px;
    margin-bottom: 0px;
    vertical-align: middle;

    &.motivation {

      &.heart {
        @media screen and (max-width: 320px) {
          height: 6px !important;
          width: 6px !important;
        }
        height: 8px;
        width: 8px;
        margin-right: -1px;
      }
    }
  }
}

.raid {
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;

  &.title {
    font-size: 14px;
    font-weight: 900;
    margin-bottom: 6px;

    &.upcoming {
      text-align: center;
    }
  }

  &.container {
    display: flex;

    &.content-left {
      margin: auto 19px auto 0;
    }

    &.content-right {
      margin: auto 0 auto 0;
    }
  }

  &.stars {
    font-size: 14px;
    font-weight: 900;
    text-align: center;
  }

  .move {
    font-weight: 900;

    &.container {
      display: flex;

      &.content-left {
        flex-direction: column;
        justify-content: center;
        margin-right: 5px;
      }
    }

    &.type {
      font-size: 8px;
      display: inline-block;
      text-transform: uppercase;
      padding: 2px 3px;
      border-radius: 4px;
      color: white;

      &.bug {
          background-color: #a8b820;
      }

      &.dark {
          background-color: #705848;
      }

      &.dragon {
          background-color: #7038f8;
      }

      &.electric {
          background-color: #f8d030;
      }

      &.fairy {
          background-color: #e898e8;
      }

      &.fighting {
          background-color: #c03028;
      }

      &.fire {
          background-color: #f08030;
      }

      &.flying {
          background-color: #a890f0;
      }

      &.ghost {
          background-color: #705898;
      }

      &.grass {
          background-color: #78c850;
      }

      &.ground {
          background-color: #e0c068;
      }

      &.ice {
          background-color: #98d8d8;
      }

      &.normal {
          background-color: #8a8a59;
      }

      &.poison {
          background-color: #a040a0;
      }

      &.psychic {
          background-color: #f85888;
      }

      &.rock {
          background-color: #b8a038;
      }

      &.steel {
          background-color: #b8b8d0;
      }

      &.water {
          background-color: #6890f0;
      }
    }
  }
}

.section-divider {
  margin: 13px 0 13px 0;
  border-bottom: 1px solid #e6e6e6;
  height: 0px;
}

.info {
  font-weight: 900;
}
