/* Header */

  #header {
    background: darken(_palette(accent2, bg), 12);
    color: _palette(accent2, fg);
    cursor: default;
    display: flex;
    justify-content: space-between;
    height: 3.5em;
    left: 0;
    line-height: 3.5em;
    padding: 0 0.75em;
    position: fixed;
    text-align: left;
    top: 0;
    width: 100%;
    z-index: _misc(z-index-base) + 1;
    @include noSelect();

    @include breakpoint(small) {
      height: 3em;
      line-height: 3em;
      padding: 0 0.5em;
    }

    > div > h1 {
      color: _palette(accent2, fg-bold);
      display: inline-block;
      height: inherit;
      line-height: inherit;
      margin: 0 0.75em;

      a {
        font-size: 1.25em;
        text-decoration: none;

         @include breakpoint(small) {
           font-size: 1em;
         }

         .rocket-icon {
           height: 1.6em;
           margin-left: 5px;
           vertical-align: middle;
         }
      }

      @include breakpoint(small) {
        margin: 0 0.5em;
      }
    }

    > div .header-button {
      @include vendor('transition', 'color #{_duration(transition)} ease-in-out');
      display: inline-block;
      margin: 0 0.75em;
      color: inherit;
      text-decoration: none;
      font-weight: 700;
      -webkit-tap-highlight-color: rgba(0,0,0,0);

      @include breakpoint(small) {
        margin: 0 0.5em;
      }

      &:hover {
        color: _palette(accent2, fg-bold);
      }

      &[href="#nav"]:before {
        content: '\f0c9';
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
      }

      &[href="#menu"] {
        display: none;

        &:before {
          content: '\f00a';
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
        }

        @include breakpoint(small) {
          display: inline-block;
        }
      }

      &[href="#stats"]:before {
        content: '\f080';
        font-family: "Font Awesome 5 Free";
        font-weight: 400;
      }

      &#statistics-button {
        &:before {
          content: '\f200';
          font-family: "Font Awesome 5 Free";
          font-weight: 700;
        }
      }

      &#madmin-button {
        &:before {
          content: '\f05a';
          font-family: "Font Awesome 5 Free";
          font-weight: 700;
        }
      }

      &#donate-button {
        &:before {
          content: '\f4b9';
          font-family: "Font Awesome 5 Free";
          font-weight: 700;
        }
      }

      &#patreon-button {
        &:before {
          content: '\f3d9';
          font-family: "Font Awesome 5 Brands";
        }
      }

      &#discord-button {
        &:before {
          content: '\f392';
          font-family: "Font Awesome 5 Brands";
        }
      }

      &#messenger-button {
        &:before {
          content: '\f39f';
          font-family: "Font Awesome 5 Brands";
        }
      }

      &#telegram-button {
        &:before {
          content: '\f3fe';
          font-family: "Font Awesome 5 Brands";
        }
      }

      &#whatsapp-button {
        &:before {
          content: '\f232';
          font-family: "Font Awesome 5 Brands";
        }
      }

      @include breakpoint(small) {
        &#statistics-button, &#madmin-button, &#donate-button, &#discord-button, &#patreon-button, &#discord-button, &#messenger-button, &#telegram-button, &#whatsapp-button {
          display: none;
        }
      }
    }

    > div > #weather {
      margin: 0 0.5em;

      @include breakpoint(small) {
        margin: 0 0.33em;
      }
    }
  }

  @include breakpoint(xsmall) {
    #header {
      min-width: 320px;
    }
  }
