nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
  height: 56px;
  line-height: 56px;

  @media screen and (max-width: 600px) {
    height: 48px;
    line-height: 48px;
  }
}

.navbar-fixed {
  height: 56px !important;

  @media screen and (max-width: 600px) {
    height: 48px !important;
  }
}

nav {
  background-color: #fff !important;

  .brand-logo, ul a {
    color: $text-color;
  }
}

nav.nav-extended .nav-wrapper {
  min-height: 56px;

  @media screen and (max-width: 600px) {
    min-height: 48px;
  }
}

.dark .nav-wrapper {
  background-color: $overlay-color-dark-1 !important;

  a {
    color: $text-color-dark !important;

    &:hover {
      background-color: rgba(255, 255, 255, 0.25) !important;
    }
  }
}

nav {
  .nav-wrapper ul li:first-child .brand-logo {
    margin-left: 15px;
  }

  .brand-logo {
    font-size: 1.7rem !important;
    left: initial !important;
    -webkit-transform: none !important;
    transform: none !important;

    @media screen and (max-width: 600px) {
      font-size: 1.5rem !important;
    }
  }

  .brand-logo-image {
    margin: 0px 0 -7px 5px;

    @media screen and (max-width: 600px) {
      height: 28px;
      margin: 0px 0 -6px 5px;
    }
  }
}



.sidenav-trigger {
  display: inline-block !important;
  margin: 0 !important;
}
