.leaflet-map {
  width: 100%;
  height: 100%;
}

.leaflet-container {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.leaflet-control-custom a {
  display: flex !important;
  justify-content: center;
  align-items: center;

  .material-icons {
    font-size: 20px;
  }
}

.leaflet-control-geosearch {
  form {
    border: 0;
    border-radius: 4px !important;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  }

  a.reset {
    border-radius: 4px;
  }

  .results.active {
    font-size: 13px;
    border: 0;
    padding-top: 0;

    &:after {
      border: 0;
    }
  }

  .results > :hover {
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid transparent;
  }
}

.dark .leaflet-control-geosearch {
  form, a.reset, .results {
    background-color: $overlay-color-dark-1;
  }

  a.reset {
    color: $text-color-dark;

    &:hover {
      background-color: rgba(255, 255, 255, 0.25);
    }
  }

  .results > :hover {
    background-color: rgba(255, 255, 255, 0.25);
  }
}

.leaflet-marker-icon.marker-cluster {
  color: $text-color;
}

.leaflet-popup-content-wrapper {
  color: $text-color;
}

.dark .leaflet-popup-content-wrapper {
  background: $overlay-color-dark-1;
  color: $text-color-dark;
}

.dark .leaflet-popup-tip {
  background: $overlay-color-dark-1;
}

.leaflet-popup-content {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-size: 13px;

  .title {
    margin-bottom: 8px;
    font-size: 15px;
    font-weight: 500;
  }

  .disappear {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
  }

  .info-container {
    margin-bottom: 10px;
  }

  .coordinates {
    @media (pointer: coarse) {
      margin-bottom: 10px;
    }
  }

  .link-button {
    margin-right: 10px;

    @media (pointer: coarse) {
      margin-right: 20px;
    }
  }

  .section-divider {
    margin: 13px 0;
    border-bottom: 1px solid #e6e6e6;
    height: 0px;
  }
}
