/* Main */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#main {
  height: 100%;
  margin-top: 3.5em;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.main-container {
  position: fixed;
  top: 3.5em;
  bottom: 0;
  right: 0;
  left: 0;

  @include breakpoint(small) {
    top: 3em;
  }
}

#map {
  height: 100%;
  width: 100%;
}

.leaflet-popup {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;

  .title {
    font-size: 15px;
    font-weight: 900;
    margin-bottom: 8px;
  }

  .info-container {
    margin-bottom: 10px;
  }

  .link-button {
    margin-right: 10px;
    color: black;

    &:hover {
      color: #606060;
    }
  }
}
