body.dark {
  background-color: $background-color-dark;
  color: $text-color-dark;
}

.map-body .sidenav-overlay {
  z-index: 1000;

  @media screen and (min-width: 601px) {
    display: none !important;
  }
}

.map-container {
  position: absolute;
  width: 100%;
  height: calc(100% - 56px);

  @media screen and (max-width: 600px) {
    height: calc(100% - 48px);
  }
}
