.map-body .sidenav-overlay {
  z-index: 1000;

  @media screen and (min-width: 601px) {
    display: none !important;
  }
}

#main-container {
  position: absolute;
  height: calc(100% - 56px);
  width: 100%;

  @media screen and (max-width: 600px) {
    height: calc(100% - 48px);
  }
}
