/* Main */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#main {
  height: 100%;
  margin-top: 3.5em;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

#header {
  height: 3.5em;
  width: 100%;
}

.main-container {
    position: fixed;
    top: 3.5em;
    bottom: 0;
    right: 0;
    left: 0;
}

#map {
  height: 100%;
  width: 100%;
}
