/* Nav */

  #nav {
    @include vendor('transform', 'translateX(-20.50em)');
    @include vendor('transition', ('transform #{_duration(nav)} ease', 'box-shadow #{_duration(nav)} ease', 'visibility #{_duration(nav)}'));
    -webkit-overflow-scrolling: touch;
    background: #F8F8F8;
    box-shadow: none;
    color: _palette(accent2, fg-bold);
    height: calc(100% - 3.5em);
    max-width: 80%;
    overflow-y: auto;
    position: fixed;
    left: 0;
    visibility: hidden;
    width: 25em;
    z-index: 1001;

    @include breakpoint(small) {
      height: calc(100% - 3em);
    }

    h3 {
      font-size: 1em;
      color: darken(_palette(accent2, bg), 12);
      font-family: 'Open Sans',sans-serif;
    }
    p {
      margin-bottom: 20px;
      color: darken(_palette(accent2, bg), 12);
    }
    > ul {
      margin: 0 0 (_size(element-margin) * 0.5) 0;

      &.links {
        list-style: none;
        padding: 0;

        > li {
          padding: 0;

          > a:not(.button) {
            border: 0;
            border-top: solid 1px _palette(accent2, border);
            color: inherit;
            display: block;
            letter-spacing: _size(letter-spacing-alt);
            line-height: 3.5em;
            text-decoration: none;
          }

          > .button {
            display: block;
            margin: 0.5em 0 0 0;
          }

          &:first-child {
            > a:not(.button) {
              border-top: 0 !important;
            }
          }
        }
      }
    }

    .form-control > select,
    .form-control > span {
      float: right;
    }

    .close {
      @include icon('\f00d');
      @include vendor('transition', 'color #{_duration(transition)} ease-in-out');
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      border: 0;
      color: _palette(accent2, fg-light);
      cursor: pointer;
      display: none;
      height: 3.25em;
      line-height: 3.25em;
      padding-right: 1.25em;
      position: absolute;
      right: 0;
      text-align: right;
      top: 0;
      vertical-align: middle;
      width: 7em;

      &:before {
        font-size: 1.25em;
      }

      &:hover {
        color: _palette(accent2, fg-bold);
      }

      @include breakpoint(small) {
        height: 4em;
        line-height: 4em;
      }
    }

    &.visible {
      @include vendor('transform', 'translateX(0)');
      box-shadow: 0 0 1.5em 0 rgba(0,0,0,0.2);
      visibility: visible;
    }

    .ui-widget {
      font-family: 'Open Sans',sans-serif;

      input {
        font-family: 'Open Sans',sans-serif;
      }
    }

    .ui-accordion-content {
      padding-top: 0.5em;
      padding-right: 0.5em;
      padding-bottom: 0.5em;
      padding-left: 0.5em;
    }
    .ui-state-active,
    .onoffswitch-checkbox:checked+.onoffswitch-label {
      border-color: #3b3b3b;
      background-color: #3b3b3b;
    }
    .onoffswitch-checkbox:checked+.onoffswitch-label:before {
      border-color: #c0c0c0;
    }
    .ui-accordion-header.ui-state-active {
      color: #d6d6d6;
    }
    .ui-corner-all {
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }
    .ui-state-focus {
      outline: none;
    }

    .fa {
      font-weight: 700;
    }

    .fa-fw {
      margin: 0px 5px 0px 0px;
    }

    label[for="filter-ivs-text"], label[for="filter-level-text"], label[for="notify-ivs-text"], label[for="notify-level-text"], label[for="notify-rarities-select"] {
      h3 {
        float:left;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items:center;
        align-items: center;
        margin-bottom: 0;
      }
    }

    label[for="include-pokemon"], label[for="include-raid-pokemon"], label[for="include-invasions"], label[for="include-quest-pokemon"], label[for="include-quest-items"], label[for="notify-pokemon"], label[for="notify-invasions"], , label[for="notify-raid-pokemon"] {
      .list .active, .invasion-list .active, .quest-item-list .active {
        border: 1px solid #D3D3D3;
        background: #f6f6f6;
      }
    }

    .list, .invasion-list, .quest-item-list {
        align-items: center;
        text-align:center;
        margin-bottom: 5px;
        max-width: 100%;
        overflow: auto;
        .pokemon-icon-sprite, .invasion-sprite, .quest-item-sprite {
          width: 24%;
          margin-bottom: 3px;
          margin-right: 3px;
          border: 1px solid #D3D3D3;
          float: left;

          @include breakpoint(xsmall) {
            width: 32%;
          }
        }
    }

    .list {
        height: 269px;
    }

    .quest-item-list {
        height: 293px;
    }

    .invasion-list {
        height: 317px;
    }

    .select-all-button, .deselect-all-button {
      font-weight: initial;
      height: initial;
      line-height: initial;
      font-family: 'Open Sans',sans-serif;
      outline: none;
      color: #454545 !important;
      margin-top: 0px;
      padding: 1px 6px 3px 6px;
      background-color: #f6f6f6;
      border: 1px solid #d3d3d3;
    }

    .select-all-button:hover, .deselect-all-button:hover {
        background-color: #ededed;
    }

    .pokemon-select-icon {
        margin-top: 2px;
    }

    .invasion-select-icon {
        margin-top: 3px;
    }

    .search {
      font-family: 'Open Sans',sans-serif;
      background-color: #fff;
      border: 1px solid #aaa;
      padding: 0 10px;
      margin-bottom: 5px;
      width: 100%;
    }

    #pkid_list {
        font-size: xx-small;
    }

    #pkname_list {
        font-size: smaller;
    }

    #invasion-type-list, #invasion-gender-list {
        font-size: 0.8em;
        white-space: nowrap;
    }

    label a {
        width: 100%;
        float: left;
        background: #ffffff;
        text-align: center;
        text-decoration: none;
        border: 1px solid #aaa;
        border-radius: 4px;
    }

    #tabs_marker, #tabs_raid, #tabs_invasion, #tabs_quest, #tabs_notify, #tabs_notify_pokestop, #tabs_notify_gym {
          padding:0;
          border:0;
          &:after{
            display: table;
            content: "";
            clear: both;
          }
          .ui-tabs-nav{
            background: transparent;
            border: 0;
            padding: 0;
            display: flex;
            li{
              box-sizing: border-box;
              margin:0;
        flex: 1;
        display: flex;
        /* If placed in a small width sidebar or something like that disabling nowrap will fix the overflow issue */
        white-space: normal;
              border-right:1px solid #fff;
              &:last-child{
                border-right-color:#c5c5c5;
              }
              &:focus{

              }
              a{
        flex: 1;
        /* If you want to align tab titles center */
        text-align: center;
                padding: 0.5em 0.1em;
                text-align: center;
                width: 100%;
              }
            }
          }
        }
    .pokemon-container, .invasion-container, .quest-item-container, .notify-container {
        border: 1px solid #c5c5c5;
        padding: 5px;
        overflow: hidden;
    }

    .ui-tabs .ui-tabs-panel {
        padding: 0 !important;
    }

    .exclude_templates {
        max-width: 100%;
        overflow: auto;
        height: 290px;
        .hidepreset {
        width: 100%;
        margin-bottom: 1px;
        border: 1px solid #d3d3d3;
        display: table;
        }
        .hidepreset.active {
        background: #f6f6f6;
        }
        .hideicon {
        margin: 5px;
        float: left;
        padding-right: 10px;
        }
        .hidetext {
        float: left;
        text-align: center;
        display: table;
        margin: 10px;
        }
    }
}
