.leaflet-popup-content .pokestop-container {
  display: flex;

  .pokestop-container-left {
    margin: auto 19px auto 0;
    text-align: center;

    .pokestop-icon, .invasion-image, .quest-image {
      display: block;
    }

    .pokestop-image {
      display: block;
      border-radius: 32px;
      cursor: zoom-in;

      &:hover {
        opacity: 0.7;
      }

      &.no-lure {
        border: 3px solid rgb(54, 198, 255);
      }

      &.lure-normal {
        border: 3px solid rgb(249, 53, 133);
      }

      &.lure-glacial {
        border: 3px solid rgb(58, 230, 255);
      }

      &.lure-magnetic {
        border: 3px solid rgb(252, 194, 45);
      }

      &.lure-mossy {
        border: 3px solid rgb(112, 188, 23);
      }

      &.lure-rainy {
        border: 3px solid rgb(3, 28, 252);
      }

      &.lure-golden {
        border: 3px solid rgb(252, 194, 45);
      }
    }
  }

  .pokestop-container-right {
    .title.invasion {
      margin-bottom: 0px;
    }

    .invasion-pokemon-toggle {
      cursor: pointer;
    }

    .invasion-pokemon-container {
      display: flex;

      .invasion-pokemon-column:not(:last-child) {
        margin-right: 16px;
      }

      .invasion-pokemon-column {
        > div:first-child {
          text-align: center;
        }

        .invasion-pokemon-ball-header {
          display: flex;
          justify-content: center;
        }
      }
    }

    .lure-container {
      .title {
        margin-bottom: 0px;
      }

      &.lure-normal {
        color: rgb(249, 53, 133);
      }

      &.lure-glacial {
        color: rgb(58, 230, 255);
      }

      &.lure-magnetic {
        color: rgb(252, 194, 45);
      }

      &.lure-mossy {
        color: rgb(112, 188, 23);
      }

      &.lure-golden {
        color: rgb(252, 194, 45);
      }
    }
  }
}
