#pokemon-container {
  display: flex;

  #pokemon-container-left {
    margin: 0 19px 10px 0;
  }

  #pokemon-container-right {
    width: 100%;
    text-align: center;
  }

  .title {
    white-space: nowrap;

    #weather-icon, span {
      vertical-align: middle;
    }
  }

  .sprite {
    display: block;
    margin: 0 auto;
  }

  .disappear {
    font-size: 14px;
    font-weight: 900;
    white-space: nowrap;
  }
}
