.pokemon {
  font-family: "Open Sans",sans-serif;
  font-size: 11px;

  &.container {
    display: flex;
    margin-bottom: 0;

    &.content-left {
      margin-right: 19px;
    }
  }

  &.bold {
    font-weight: 900;
  }

  &.title {
    font-size: 14px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 13px;

    &.weather {
      vertical-align: middle;
      margin-bottom: 0px;
    }
  }

  &.sprite {
    display: block;
    width: 64px;
    margin-bottom: 13px;
  }

  &.type {
    border-radius: 4px;
    color: white;
    padding: 2px 5px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 2px;
  }

  &.gen, &.rarity {
    text-align: center;
  }

  &.disappear {
    font-size: 14px;
    font-weight: 900;
    margin-bottom: 13px;
    white-space: nowrap;
  }

  &.cp-level, &.probs, &.weight-height, &.types {
    margin-bottom: 13px;
  }

  &.ball {
    height: 12px;
    width: 12px;
    vertical-align: bottom;
  }

  &.coords {
    margin-bottom: 2px;
  }
}
