.pokemon {
  font-family: "Open Sans",sans-serif;
  font-size: 11px;

  &.container {
    display: flex;
    margin-bottom: 0;

    &.content-left {
      margin-right: 19px;
    }
  }

  &.a:link, &.a:visited {
    color: #444;
    text-decoration: none;
  }

  &.a:hover, &.a:active {
    text-decoration: underline;
  }

  &.bold {
    font-weight: 900;
  }

  &.title {
    font-weight: 900;
    display: inline-block;

    &.name-gender-pokedex {
      font-size: 14px;
      margin-right: 12px;
      margin-bottom: 13px;
    }

    &.rarity {
      font-size: 13px;
      margin-right: 5px;
    }

    &.weather {
      vertical-align: middle;
    }
  }

  &.sprite {
    display: block;
    width: 64px;
    margin-bottom: 13px;
  }

  &.type {
    border-radius: 4px;
    color: white;
    padding: 2px 5px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 2px;
  }

  &.gen {
    font-size: 12px;
    text-align: center;
    margin-top: 6px;
  }

  &.disappear {
    font-size: 14px;
    font-weight: 900;
    margin-bottom: 13px;
    white-space: nowrap;
  }

  &.cp-level, &.probs, &.weight-height, &.types {
    margin-bottom: 13px;
  }

  &.ball {
    display: inline;
    height: 12px;
    width: 12px;
    margin-bottom: 0;
    vertical-align: bottom;
  }
}
