#quest-container {
  padding-bottom: 16px;

  @media screen and (min-width: 601px) {
    padding: 0 19px 16px 19px;
  }

  #quest-title {
    margin-bottom: 0.8rem;
  }
}

#quest-table {
  .row-container {
    display: flex;
    align-items: center;
  }

  .pokestop-image {
    display: block;
    margin-right: 8px;
    border: 2px solid #36c6ff;
    border-radius: 26px;
    cursor: zoom-in;

    &:hover {
      opacity: 0.7;
    }
  }

  .reward-image {
    display: block;
    margin-right: 8px;
  }
}
