.sidenav {
  width: 350px;
  max-width: 80%;
  height: 100%;
  z-index: 1001;
  margin-top: 56px;

  @media screen and (max-width: 600px) {
    margin-top: 48px;
  }

  .sidenav-close {
    position: absolute;
    right: 0;
    padding: 4px;
    cursor: pointer;
  }

  .collapsible-header {
    border-bottom: 1px solid #ddd !important;
  }

  li.active .collapsible-header {
    border-bottom: 0 !important;
  }

  .settings-container {
    padding: 16px 24px !important;
    border-bottom: 1px solid #ddd !important;
  }

  .form-control {
    padding: 8px 0;
    line-height: 1.5;
  }

  .lever {
    margin: 4px 0 0 0 !important;
    float: right !important;
  }

  .switch label {
    font-size: 1rem !important;
    color: $text-color !important;
  }

  input, .input-field {
    margin: 0 !important;
  }

  input.select-dropdown, input[type=text] {
    height: 2rem !important;
    width: calc(100% - 8px) !important;
    padding: 0 4px !important;
    border: 1px solid #9e9e9e !important;
    border-radius: 4px !important;
    font-size: inherit !important;
  }

  input[type=text]:focus {
    border: 1px solid #26a69a !important;
    box-shadow: none !important;
  }

  input.select-dropdown:focus {
    border: 1px solid #9e9e9e !important;
  }

  .filter-button {
    height: inherit;
    line-height: inherit;

    i {
      line-height: 1;
      margin-right: 0;
    }
  }
}

.dark .sidenav {
  color: $text-color-dark !important;
  background-color: $overlay-color-dark-1 !important;
  border: 0;

  .collapsible-header, .settings-container {
    border-bottom: 1px solid #9e9e9e !important;
  }

  .collapsible-header:hover, li.active {
    background-color: rgba(255, 255, 255, 0.15) !important;
  }

  .collapsible-body {
    background-color: $overlay-color-dark-1 !important;
  }

  .btn-flat {
    color: $text-color-dark !important;
  }
}

#stats-sidenav {
  width: 400px;

  @media screen and (min-width: 601px) {
    padding: 0 20px;
  }

  h6 {
    text-align: center;
  }

  .dataTables_wrapper {
    margin-bottom: 24px;
  }
}

#gym-sidebar {
  padding: 0 20px;

  h5:not(#sidebar-upcoming-raid-title) {
    margin-bottom: 0;
  }

  #sidebar-gym-ex-icon {
    vertical-align: middle;
  }

  .gym-sidebar-subheader-container {
    margin-bottom: 16px;
    font-size: 1.2rem;
  }

  .gym-sidebar-image-container {
    margin-bottom: 8px;
  }

  .gym-image {
    border-radius: 96px;
    border-width: 4px;
  }

  .gym-sidebar-info-container {
    display: flex;
    justify-content: center;

    .gym-sidebar-info-container-left {
      margin-right: 4px;
      text-align: right;
    }

    .gym-sidebar-info-container-right {
      text-align: left;
    }
  }

  .move-type-icon {
    vertical-align: middle;
  }

  .divider {
    margin: 24px 0;
  }
}
