/* Stats */

  #stats {
    @include vendor('transform', 'translateX(25em)');
    @include vendor('transition', ('transform #{_duration(stats)} ease', 'box-shadow #{_duration(stats)} ease', 'visibility #{_duration(stats)}'));
    -webkit-overflow-scrolling: touch;
    background: #F8F8F8;
    box-shadow: none;
    color: _palette(accent2, fg-bold);
    height: calc(100% - 3.5em);
    max-width: 80%;
    overflow-y: auto;
    padding: 1em 1.5em;
    position: fixed;
    right: 0;
    visibility: hidden;
    width: 25em;
    z-index: 5000;

    @include breakpoint(small) {
      padding: 0.67em 1em;
      height: calc(100% - 3em);
    }

    h3 {
      font-size: 18px;
      font-family: 'Open Sans', sans-serif;
      color: darken(_palette(accent2, bg), 12);
    }

    p {
      margin-bottom: 20px;
      color: darken(_palette(accent2, bg), 12);
    }

    > ul {
      margin: 0 0 (_size(element-margin) * 0.5) 0;

      &.links {
        list-style: none;
        padding: 0;

        > li {
          padding: 0;

          > a:not(.button) {
            border: 0;
            border-top: solid 1px _palette(accent2, border);
            color: inherit;
            display: block;
            letter-spacing: _size(letter-spacing-alt);
            line-height: 3.5em;
            text-decoration: none;
          }

          > .button {
            display: block;
            margin: 0.5em 0 0 0;
          }

          &:first-child {
            > a:not(.button) {
              border-top: 0 !important;
            }
          }
        }
      }
    }

    .form-control > select {
      float: right;
      font-size: 18px;
    }

    .close {
      @include icon('\f00d');
      @include vendor('transition', 'color #{_duration(transition)} ease-in-out');
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      border: 0;
      color: _palette(accent2, fg-light);
      cursor: pointer;
      display: none;
      height: 3.25em;
      line-height: 3.25em;
      padding-right: 1.25em;
      position: absolute;
      right: 0;
      text-align: right;
      top: 0;
      vertical-align: middle;
      width: 7em;

      &:before {
        font-size: 1.25em;
      }

      &:hover {
        color: _palette(accent2, fg-bold);
      }

      @include breakpoint(small) {
        height: 4em;
        line-height: 4em;
      }
    }

    &.visible {
      @include vendor('transform', 'translateX(0)');
      box-shadow: 0 0 1.5em 0 rgba(0,0,0,0.2);
      visibility: visible;
    }

    .stats-label-container {
      font-weight: bold;
      border-width: 1px 0px;
      border-style: solid;
      border-color: black;
      background-color: white;
    }

    .stats-label-container h1 {
      text-align: center;
      margin: 0.25em;
      font-family: 'Open Sans', sans-serif;
    }

    // Styling for statistics dataTable

    #pokemon-stats-container, #gym-stats-container {
      color: black;
      margin-bottom: 2em;
    }

    #pokestop-stats-container {
        color: black;
    }

    table.dataTable.display tbody tr td,
    table.dataTable.display tbody tr td img
    {
      font-size: 0.9em;
      vertical-align: middle;
    }

    #pokemon-table.dataTable.display tbody tr td {
      &:nth-child(2), &:nth-child(4), &:nth-child(5) {
        text-align: center;
      }
    }

    #gym-table.dataTable.display tbody tr td {
      &:nth-child(3), &:nth-child(4) {
        text-align: center;
      }
    }

    #pokestop-table.dataTable.display tbody tr td {
      &:nth-child(3), &:nth-child(4) {
        text-align: center;
      }
    }

    .pokemonListString {
      width: 30px;
      height: 30px;
    }

    .arenaListString {
      width: 48px;
    }

    .pokestopListString {
      width: 32px;
    }

  }
