.collapsible-body {
  padding: 0 0.5rem !important;
}

.collapsible-body .switch label {
  font-size: 1rem;
  color: black;
}

.collapsible-header {
  border-bottom: 1px solid #ddd !important;
}

.collapsible-header .chevron {
  transition: transform 0.2s;
}

li.active .collapsible-header {
  border-bottom: 0 !important;
}

li.active .collapsible-body {
  border-bottom: 1px solid #ddd !important;
}


li.active .chevron {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
