body {
  background: #f1f1f1;
}

#quests-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0.5em 1.5em 0.5em 1.5em;
    color: #000;

    @media screen and (max-width: 736px) {
      padding: 0.33em 0;
    }
}

#quests-table_wrapper thead tr {
    background: #3b3b3b;

    th {
      color: #fff;
    }
}

table.dataTable.display tbody tr td,
table.dataTable.display tbody tr td img,
table th
{
  font-size: 0.9em;

  @media screen and (max-width: 736px) {
    font-size: 0.8em;
  }
}

.dataTables_length {
  font-size: 1.25em;

  @media screen and (max-width: 736px) {
    margin-left: 1em;
    font-size: 1em;
    float: left !important;
  }
}

.dataTables_filter {
  margin-bottom: 0.5em;

  @media screen and (max-width: 736px) {
    margin: 0 1em 0.33em 0 !important;
    font-size: 0.9em;
    float: right !important;

    input {
      width: 100px;
    }
  }
}

.dataTables_info {
  padding-top: 0.25em !important;

  @media screen and (max-width: 736px) {
    display: none;
  }
}

.dataTables_paginate {
  @media screen and (max-width: 736px) {
    margin-top: 0 !important;
    font-size: 0.9em;
  }

  .paginate_button {
    padding: 0 !important;
  }
}

#loading{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
}

#loading img{
  top: 50%;
  left: 50%;
  margin-right: -50%;
  position: absolute;
}
