body {
  background: #f1f1f1;
}

#statistics-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0.5em 1.5em 0.5em 1.5em;
    color: #000;

    @media screen and (max-width: 736px) {
      padding: 0.33em 0;
    }
}

#stats_table_wrapper thead tr {
    background: #3b3b3b;

    th {
      color: #fff;
    }
}

#pokemon-seen {
    @media screen and (max-width: 736px) {
      margin-left: 1em;
    }
}

.overlay{
    z-index: 100000;
    display: none;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
}

#location_map{
    top: 0px;
    width: 100%;
    bottom: 0px;
    height: 100%;
}

#map {
    height: 100%;
}

.my-leaflet-map-container img {
    max-height: none;
}

#times_list{
    float: left;
    background: white;
    position: fixed;
    padding-right: 0.7em;
    height: calc(100% - 4.4em);
    z-index: 9999;
    overflow: auto;

    @media screen and (max-width: 736px) {
      padding-right: 0.47em;
      height: calc(100% - 2.94em);
    }
}

table.dataTable.display tbody tr td,
table.dataTable.display tbody tr td img,
table th
{
  font-size: 0.9em;

  @media screen and (max-width: 736px) {
    font-size: 0.8em;
  }
}

#times_list div {
    padding-bottom: 2px;

    a {
      color: #555;
    }
}

#times_list .row0{
    background: #f1f1f1;
}

#times_list .row1{
    background: #f8f8f8;
}

.overlay .close{
    position: fixed;
    width: 30px;
    height: 30px;
    right: calc(2.25em + 10px);
    margin-top: calc(2.25em + 10px);
    border: 2px solid rgba(0,0,0,0.2);
    border-radius: 4px;
    background: white;
    text-align: center;
    cursor: pointer;
    z-index: 9999;

    @media screen and (max-width: 736px) {
        right: calc(1.47em + 10px);
        margin-top: calc(1.47em + 10px);
    }

    &:hover {
      background: #f4f4f4;
    }
}

.overlay .content{
    background: white;
    margin: 1.5em;
    border-radius: 10px;
    -moz-border-radius: 10px;
    padding: 0.7em;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;

    @media screen and (max-width: 736px) {
      margin: 1em;
      padding: 0.47em;
    }
}

#loading{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
}

#loading img{
    top: 50%;
    left: 50%;
    margin-right: -50%;
    position: absolute;
}
