$text-color: rgba(0, 0, 0, 0.87);
$text-color-dark: rgba(255, 255, 255, 0.87);
$background-color-dark: #121212;
$overlay-color-dark-1:#212121;
$overlay-color-dark-2: #282828;

$mystic-blue: rgba(0, 134, 255, 1);
$valor-red: rgba(255, 26, 26, 1);
$instinct-yellow: rgba(255, 159, 25, 1);
