# DO NOT USE NOTEPAD TO EDIT CONFIG FILES! USE NOTEPAD++ INSTEAD!
# Uncomment a line when you want to change its default value (Remove # at the beginning)
# Please ensure to leave a space after the colon if a value is needed ("example-setting" "example-setting-with: value")
# When your configuration is done, rename this file by removing the ".example" extension
# A different config-files can be included directly in processes by "--config-file" or "-cf" and path

# Fork features
###############

#pogo-assets:                   # Directory pointing to optional PogoAssets root directory. (default=None)
#generate-images                # Use ImageMagick to generate dynamic icons on demand.


# Common settings
#################

#host:                          # Address to listen on (default='127.0.0.1')
#port:                          # Port to listen on (default=5000)
#location:                      # Location, can be an address or coordinates.
#no-gyms                        # Disables gym scanning (default=False)
#no-pokemon                     # Disables pokemon scanning. (default=False)
#no-pokestops                   # Disables pokestop scanning. (default=False)
#no-raids                       # Disables raid scanning (default=False)
#no-gym-sidebar                 # Disable the gym sidebar and toggle. (default=False)
#show-all-zoom-level            # Show all Pokemon, even excluded, at this map zoom level.
                                # Set to 0 to disable this feature. Set to 19 or higher for nice results.
#map-title:                     # Title of the map. (default='RocketMap')
#paypal-url:                    # PayPal donation link. (default=None)
#discord-url:                   # Discord server invite link. (default=None)
#messenger-url:                 # Messenger group invite link. (default=None)
#telegram-url:                  # Telegram group invite link. (default=None)
#whatsapp-url:                  # WhatsApp group invite link. (default=None)


# Database settings
###################

#db-host:                       # Required for mysql ()
#db-name:                       # Required for mysql
#db-user:                       # Required for mysql
#db-pass:                       # Required for mysql
#db-port:                       # Required for mysql (default=3306)
#db-threads:                    # Number of db threads; increase if the db queue falls behind. (default=1)


#Database cleanup
#################

#db-cleanup                     # Enable regular database cleanup thread.
#db-cleanup-pokemon             # Clear pokemon from database X hours after they disappeared. Default: 0, 0 to disable.
#db-cleanup-gym                 # Clear gym details from database X hours after last gym scan. Default: 8, 0 to disable.
#db-cleanup-spawnpoint          # Clear spawnpoint from database X hours after last valid scan. Default: 720, 0 to disable.
#db-cleanup-forts               # Clear gyms and pokestops from database X hours after last valid scan. Default: 0, 0 to disable.


# Pokemon IV
############

#encounter                      # Set to true to start encounters to pull more info, like IVs or movesets. (default=False)
#medalpokemon                   # Notify of tiny rattata and big magikarp on map. (default=False)

# Webserver settings
####################

#locale:                        # Pokemon translation
#cors                           # Enable CORS on web server.
#ssl-certificate:               # Path to ssl certificate
#ssl-privatekey:                # Path to ssl private key
#encrypt-lib:                   # Path to encrypt lib to be used instead of the shipped ones.
#disable-blacklist              # Disable the global anti-scraper IP blacklist.
#rarity-hours:                  # Number of hours of Pokémon data to use to calculate dynamic rarity, decimals allowed. 0 to use all data. (default=48.0)
#rarity-update-frequency:       # How often (in minutes) the dynamic rarity should be updated. decimals allowed. 0 to disable. (default=0)
#rarity-filename:               # Name of the JSON File for dynamic rarity. Using two different RM Databases with two instances out of the same folter. Default (if empty): rarity


# Status and logs
#################

#status-name:                   # Enables writing status updates to the database - if you use multiple processes, each needs a unique value. (default=None)
#access-logs                    # Write web logs to console and log file. (default=False)
#no-file-logs                   # Disables logging to files except for access.log. (default=False)
#log-path:                      # Defines the path logs are saved at. (default=logs/)
#log-filename:                  # Defines the log filename to be saved. The default generates yyyymmdd_HHMM_statusname.log. (default=%Y%m%d_%H%M_<SN>)


# User Auth Settings
####################
# If you want users to auth to Discord prior to accessing server, set user-auth-service to Discord, create an app here:
# https://discordapp.com/developers/applications/me and add a redrect uri to your the application in this format: https://mysrv.com/auth_callback.
# If you get an error on the discord page when authenticating, and the redirect_uri in the url doesn't match your servers actual web address
# override it by specifying uas-host-override, e.g. https://mysrv.com/
# To require a user to be in one of your guilds (servers) to gain access, specify the required guild ids and an invite url to send them to if
# they are not in any of the required guilds.
# To require a user be in specific roles in the guild to gain access, add a bot to the application at the above developer application page,
# then add that bot to your guild (server) using this link: https://discordapp.com/api/oauth2/authorize?client_id=YOUR_CLIENT_ID&scope=bot
# Note that the required-roles feature requires a configuration with a single required guild.

#user-auth-service:             # Force end users to auth to an external service. Supported: Discord
#uas-client-id:                 # OAuth2 Client ID.
#uas-client-secret:             # OAuth2 Client Secret. Client should have auth callback url of <yourserverurl>/auth_callback
#uas-host-override              # override auth redirect host.
#uas-discord-required-guilds    # (Optional) If guild ID(s) are specified, user must be in at least one discord guild (server) to access map. Comma separated if multiple.
#uas-discord-guild-invite       # Invite link to redirect user to if user is not in above guild(s)
#uas-discord-required-roles     # (Optional) If specified, user must be in one of these discord roles. Comma separated list of role ids. Requires bot configured below. Only supports single required guild.
#uas-discord-bot-token          # Token for bot with access to your guild. Only required for required-roles feature


# MADmin
########

#madmin-url:                    # MADmin URL e.g. http://127.0.0.1:5001/map (default=None)


# Misc
######

#verbosity                      # Show debug messages from RocketMap and PGoApi. Values are 1,2,3 (default=0)
#dump                           # Dump censored debug info about the environment and auto-upload to hastebin.com.
#black-white-badges             # Use black/white background with white/black text for gym/raid level badge in gym icons.
