.slider-container {
  padding: 8px 11px 8px 5px;
}

.slider-title {
  margin-bottom: 5px;
  color: $text-color;
}

.dark .slider-title {
  color: $text-color-dark !important;
}

.noUi-handle-touch-area {
  z-index: 5 !important;
}
