<!DOCTYPE html>
<html lang="{{lang}}">
  <head>
    <title>{{ mapTitle }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"/>
    <!-- CSS-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/materialize-css@1.0.0/dist/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/materialize-css@1.0.0/extras/noUiSlider/nouislider.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.11.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-fullscreen@1.0.2/dist/leaflet.fullscreen.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.markercluster@1.4.1/dist/MarkerCluster.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-geosearch@2.7.0/assets/css/leaflet.min.css">
    <link rel="stylesheet" type="text/css" href="static/dist/css/map.min.css">
    {% if show.custom_css %}
    <link rel="stylesheet" type="text/css" href="static/css/custom.css">
    {% endif %}
  </head>

  <body>
    <header>
      <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper">
            <ul>
              <li><a href="#nav" data-target="settings-sidenav" class="sidenav-trigger"><i class="material-icons">menu</i></a></li>
              <li><a href="./" class="brand-logo">{{ mapTitle }}</a></li>
            </ul>
            <ul class="right">
              {% if discordUrl %}
              <li><a href="{{ discordUrl }}" class="hide-on-small-only" title="Discord" target="_blank"><i class="fab fa-discord material-icons"></i></a></li>
              {% endif %}
              {% if messengerUrl %}
              <li><a href="{{ messengerUrl }}" class="hide-on-small-only" title="Messenger" target="_blank"><i class="fab fa-facebook-messenger material-icons"></i></a></li>
              {% endif %}
              {% if telegramUrl %}
              <li><a href="{{ telegramUrl }}" class="hide-on-small-only" title="Telegram" target="_blank"><i class="fab fa-telegram-plane material-icons"></i></a></li>
              {% endif %}
              {% if whatsappUrl %}
              <li><a href="{{ whatsappUrl }}" class="hide-on-small-only" title="WhatsApp" target="_blank"><i class="fab fa-whatsapp material-icons"></i></a></li>
              {% endif %}
              {% if patreonUrl %}
              <li><a href="{{ patreonUrl }}" class="hide-on-small-only" title="Patreon" target="_blank"><i class="fab fa-patreon material-icons"></i></a></li>
              {% endif %}
              {% if donateUrl %}
              <li><a href="{{ donateUrl }}" class="hide-on-small-only" title="Donate" target="_blank"><i class="material-icons">attach_money</i></a></li>
              {% endif %}
              {% if madminUrl %}
              <li><a href="{{ madminUrl }}" class="hide-on-small-only" title="MADmin" target="_blank"><i class="material-icons">info</i></a></li>
              {% endif %}
              <li><a href="stats" class="hide-on-small-only"><i class="material-icons" title="Statistics">pie_chart</i></a></li>
              <li><a class="dropdown-trigger hide-on-med-and-up" href="#" data-target="navbar-dropdown"><i class="material-icons">apps</i></a></li>
              <li><a href="#stats"><i class="material-icons" title="Live stats">equalizer</i></a></li>
            </ul>
          </div>
        </nav>
      </div>
    </header>

    <ul id="navbar-dropdown" class="dropdown-content">
      <li><a href="stats"><i class="material-icons">pie_chart</i>Statistics</a></li>
      {% if madminUrl %}
      <li><a href="{{ madminUrl }}" target="_blank"><i class="material-icons">info</i>MADmin</a></li>
      {% endif %}
      {% if donateUrl or patreonUrl %}
      <li class="divider" tabindex="-1"></li>
      {% endif %}
      {% if donateUrl %}
      <li><a href="{{ donateUrl }}" target="_blank"><i class="material-icons">attach_money</i>Donate</a></li>
      {% endif %}
      {% if patreonUrl %}
      <li><a href="{{ patreonUrl }}" target="_blank"><i class="fab fa-patreon"></i>Patreon</a></li>
      {% endif %}
      {% if discordUrl or messengerUrl or telegramUrl or whatsappUrl %}
      <li class="divider" tabindex="-1"></li>
      {% endif %}
      {% if discordUrl %}
      <li><a href="{{ discordUrl }}" target="_blank"><i class="fab fa-discord"></i>Discord</a></li>
      {% endif %}
      {% if messengerUrl %}
      <li><a href="{{ messengerUrl }}" target="_blank"><i class="fab fa-facebook-messenger"></i>Messenger</a></li>
      {% endif %}
      {% if telegramUrl %}
      <li><a href="{{ telegramUrl }}" target="_blank"><i class="fab fa-telegram-plane"></i>Telegram</a></li>
      {% endif %}
      {% if whatsappUrl %}
      <li><a href="{{ whatsappUrl }}" target="_blank"><i class="fab fa-whatsapp"></i>WhatsApp</a></li>
      {% endif %}
    </ul>

    {% if show.pokemons %}
    <div id="pokemon-filter-modal" class="modal filter-modal">
      <div class="modal-content">
        <h6 id="filter-pokemon-title">Pokémon</h6>
        <label for="exclude-pokemon">
          <input id="exclude-pokemon" type="text" readonly="true" style="display:none;">
          <div class="pokemon-filter-list"></div>
          <div class="filter-footer-container">
            <div class="filter-footer-left">
              <a class="btn-flat tooltipped search-info-btn" data-html="true" data-position="top" data-tooltip="You can search for:<br>Name, ID, Type and Generation.<br>Multiple search terms can be used<br>by separating them with commas.<br>Exclusion is possible by prepending<br>'-' to a search term."><i class="material-icons">info_outline</i></a>
              <input type="search" class="search" placeholder="Search...">
            </div>
            <div class="filter-footer-right">
              <a class="waves-effect btn-flat pokemon-select-filtered" style="display:none;"><i class="material-icons" title="Select all">select_all</i></a>
              <a class="waves-effect btn-flat pokemon-deselect-filtered" style="display:none;"><i class="material-icons" title="Deselect all">clear</i></a>
              <a class="waves-effect btn-flat pokemon-select-all"><i class="material-icons" title="Select all">select_all</i></a>
              <a class="waves-effect btn-flat pokemon-deselect-all"><i class="material-icons" title="Deselect all">clear</i></a>
            </div>
          </div>
        </label>
      </div>
    </div>
    {% endif %}

    {% if show.raid_filters %}
    <div id="raid-pokemon-filter-modal" class="modal filter-modal">
      <div class="modal-content">
        <h6 id="filter-raid-pokemon-title">Raid Bosses</h6>
        <label for="exclude-raid-pokemon">
          <input id="exclude-raid-pokemon" type="text" readonly="true" style="display:none;">
          <div class="pokemon-filter-list"></div>
          <div class="filter-footer-container">
            <div class="filter-footer-left">
              <a class="btn-flat tooltipped search-info-btn" data-html="true" data-position="top" data-tooltip="You can search for:<br>Name, ID, Type and Generation.<br>Multiple search terms can be used<br>by separating them with commas.<br>Exclusion is possible by prepending<br>'-' to a search term."><i class="material-icons">info_outline</i></a>
              <input type="search" class="search" placeholder="Search...">
            </div>
            <div class="filter-footer-right">
              <a class="waves-effect btn-flat pokemon-select-filtered" style="display:none;"><i class="material-icons" title="Select all">select_all</i></a>
              <a class="waves-effect btn-flat pokemon-deselect-filtered" style="display:none;"><i class="material-icons" title="Deselect all">clear</i></a>
              <a class="waves-effect btn-flat pokemon-select-all"><i class="material-icons" title="Select all">select_all</i></a>
              <a class="waves-effect btn-flat pokemon-deselect-all"><i class="material-icons" title="Deselect all">clear</i></a>
            </div>
          </div>
        </label>
      </div>
    </div>
    {% endif %}

    {% if show.quests %}
    <div id="quest-filter-modal" class="modal filter-modal">
      <div class="modal-content">
        <ul id ="quest-filter-tabs" class="tabs grey lighten-5">
          <li class="tab"><a href="#quest-pokemon-tab" class="active">Quest Pokémon</a></li>
          <li class="tab"><a href="#quest-item-tab">Quest Items</a></li>
        </ul>
        <div id="quest-pokemon-tab">
          <label for="exclude-quest-pokemon">
            <input id="exclude-quest-pokemon" type="text" readonly="true" style="display:none;">
            <div class="pokemon-filter-list"></div>
            <div class="filter-footer-container">
              <div class="filter-footer-left">
                <a class="btn-flat tooltipped search-info-btn" data-html="true" data-position="top" data-tooltip="You can search for:<br>Name, ID, Type and Generation.<br>Multiple search terms can be used<br>by separating them with commas.<br>Exclusion is possible by prepending<br>'-' to a search term."><i class="material-icons">info_outline</i></a>
                <input type="search" class="search" placeholder="Search...">
              </div>
              <div class="filter-footer-right">
                <a class="waves-effect btn-flat pokemon-select-filtered" style="display:none;"><i class="material-icons" title="Select all">select_all</i></a>
                <a class="waves-effect btn-flat pokemon-deselect-filtered" style="display:none;"><i class="material-icons" title="Deselect all">clear</i></a>
                <a class="waves-effect btn-flat pokemon-select-all"><i class="material-icons" title="Select all">select_all</i></a>
                <a class="waves-effect btn-flat pokemon-deselect-all"><i class="material-icons" title="Deselect all">clear</i></a>
              </div>
            </div>
          </label>
        </div>
        <div id="quest-item-tab">
          <label for="exclude-quest-items">
            <input id="exclude-quest-items" type="text" readonly="true" style="display:none;">
            <div class="quest-item-filter-list"></div>
            <div class="filter-footer-container">
              <div></div>
              <div class="filter-footer-right">
                <a class="waves-effect btn-flat quest-item-select-all"><i class="material-icons" title="Select all">select_all</i></a>
                <a class="waves-effect btn-flat quest-item-deselect-all"><i class="material-icons" title="Deselect all">clear</i></a>
              </div>
            </div>
          </label>
        </div>
      </div>
    </div>
    {% endif %}

    {% if show.invasions %}
    <div id="invasion-filter-modal" class="modal filter-modal">
      <div class="modal-content">
        <h6 id="filter-invasion-title">Team Rocket Invasions</h6>
        <label for="exclude-invasions">
          <input id="exclude-invasions" type="text" readonly="true" style="display:none;">
          <div class="invasion-filter-list"></div>
          <div class="filter-footer-container">
            <div></div>
            <div class="filter-footer-right">
              <a class="waves-effect btn-flat invasion-select-all"><i class="material-icons" title="Select all">select_all</i></a>
              <a class="waves-effect btn-flat invasion-deselect-all"><i class="material-icons" title="Deselect all">clear</i></a>
            </div>
          </div>
        </label>
      </div>
    </div>
    {% endif %}

    <ul id="settings-sidenav" class="sidenav collapsible">
      {% if show.pokemons %}
      <li>
        <div class="collapsible-header">
          <i class="material-icons">pets</i>Pokémon
        </div>
        <div class="collapsible-body">
          <div class="settings-container">
            <div class="form-control">
              <div class="switch">
                <label>
                  <input type="checkbox" id="pokemon-switch">
                  <span class="lever"></span>
                  Pokémon
                </label>
                <a data-target="pokemon-filter-modal" class="waves-effect btn-flat modal-trigger filter-button" title="Filter Pokémon"><i class="material-icons left">filter_list</i></a>
              </div>
            </div>
          </div>
          <div id="pokemon-filters-wrapper">
            {% if show.pokemon_values %}
            <div class="settings-container">
              <div class="form-control">
                <div class="switch">
                  <label>
                    <input type="checkbox" id="pokemon-values-switch">
                    <span class="lever"></span>
                    Pokémon Values
                  </label>
                </div>
              </div>
              <div id="filter-pokemon-values-wrapper">
                <div class="form-control">
                  <div class="switch">
                    <label>
                      <input type="checkbox" id="filter-values-switch">
                      <span class="lever"></span>
                      Filter by Values
                    </label>
                  </div>
                </div>
                <div id="pokemon-values-filters-wrapper">
                  <div id="zero-ivs-pokemon-switch-wrapper">
                    <div class="form-control">
                      <div class="switch">
                        <label>
                          <input type="checkbox" id="zero-ivs-pokemon-switch">
                          <span class="lever"></span>
                          0% IV Pokémon
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-control">
                    <span id="pokemon-ivs-slider-title" class="slider-title">IVs</span>
                    <div class="slider-container">
                      <div id="pokemon-ivs-slider"></div>
                    </div>
                  </div>
                  <div class="form-control">
                    <span id="pokemon-level-slider-title" class="slider-title">Levels</span>
                    <div class="slider-container">
                      <div id="pokemon-level-slider"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}
            {% if show.rarity %}
            <div class="settings-container">
              <div class="form-control">
                <div class="input-field">
                  <div class="select-title">Rarity</div>
                  <select id="rarity-select" multiple>
                    <option value="1">Common</option>
                    <option value="2">Uncommon</option>
                    <option value="3">Rare</option>
                    <option value="4">Very Rare</option>
                    <option value="5">Ultra Rare</option>
                    <option value="6">New Spawn</option>
                  </select>
                </div>
              </div>
              <div class="form-control">
                <div class="switch">
                  <label>
                    <input type="checkbox" id="scale-rarity-switch">
                    <span class="lever"></span>
                    Scale by Rarity
                  </label>
                </div>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </li>
      {% endif %}
      {% if show.gyms or show.raids %}
      <li>
        {% if show.gyms and show.raids %}
        <div class="collapsible-header"><i class="material-icons">security</i>Gyms & Raids</div>
        {% elif show.gyms %}
        <div class="collapsible-header"><i class="material-icons">security</i>Gyms</div>
        {% else %}
        <div class="collapsible-header"><i class="material-icons">security</i>Raids</div>
        {% endif %}
        <div class="collapsible-body">
          <div id="gym-name-filter-sidebar-wrapper">
            <div class="settings-container">
              <div class="form-control">
                <div class="input-field">
                  <div class="text-input-title">Name includes</div>
                  <input placeholder="Filter..." id="gym-name-filter" type="text">
                </div>
              </div>
              {% if show.gym_sidebar %}
              <div class="form-control">
                <div class="switch">
                  <label>
                    <input type="checkbox" id="gym-sidebar-switch">
                    <span class="lever"></span>
                    Gym sidebar
                  </label>
                </div>
              </div>
              {% endif %}
            </div>
          </div>
          {% if show.gyms %}
          <div class="settings-container">
            <div class="form-control">
              <div class="switch">
                <label>
                  <input type="checkbox" id="gym-switch">
                  <span class="lever"></span>
                  Gyms
                </label>
              </div>
            </div>
            {% if show.gym_filters %}
            <div id="gym-filters-wrapper">
              <div class="form-control">
                <div class="input-field">
                  <div class="select-title">Teams</div>
                  <select id="gym-team-select" multiple>
                    <option value="0">Uncontested</option>
                    <option value="1">Mystic</option>
                    <option value="2">Valor</option>
                    <option value="3">Instinct</option>
                  </select>
                </div>
              </div>
              <div class="form-control">
                <span id="gym-level-slider-title" class="slider-title">Gym levels</span>
                <div class="slider-container">
                  <div id="gym-level-slider"></div>
                </div>
              </div>
              <div class="form-control">
                <div class="switch">
                  <label>
                    <input type="checkbox" id="gym-open-spot-switch">
                    <span class="lever"></span>
                    Open spot only
                  </label>
                </div>
              </div>
              <div class="form-control">
                <div class="switch">
                  <label>
                    <input type="checkbox" id="gym-ex-eligible-switch">
                    <span class="lever"></span>
                    EX eligible Gyms only
                  </label>
                </div>
              </div>
              <div class="form-control">
                <div class="switch">
                  <label>
                    <input type="checkbox" id="gym-in-battle-switch">
                    <span class="lever"></span>
                    Gyms in battle only
                  </label>
                </div>
              </div>
              <div class="form-control">
                <div class="input-field">
                  <div class="select-title">Last scanned</div>
                  <select id="gym-last-scanned-select">
                    <option value="0">Any time</option>
                    <option value="1">Within last hour</option>
                    <option value="6">Within last 6 hours</option>
                    <option value="12">Within last 12 hours</option>
                    <option value="24">Within last day</option>
                    <option value="168">Within last week</option>
                    <option value="730">Within last month</option>
                    <option value="4380">Within last 6 months</option>
                    <option value="8760">Within last year</option>
                  </select>
                </div>
              </div>
            </div>
            {% endif %}
          </div>
          {% endif %}
          {% if show.raids %}
          <div class="settings-container">
            <div class="form-control">
              <div class="switch">
                <label>
                  <input type="checkbox" id="raid-switch">
                  <span class="lever"></span>
                  Raids
                </label>
                {% if show.raid_filters %}
                <a data-target="raid-pokemon-filter-modal" class="waves-effect btn-flat modal-trigger filter-button" title="Filter Raid Bosses"><i class="material-icons left">filter_list</i></a>
                {% endif %}
              </div>
            </div>
            {% if show.raid_filters %}
            <div id="raid-filters-wrapper">
              <div class="form-control">
                <div class="switch">
                  <label>
                    <input type="checkbox" id="raid-active-switch">
                    <span class="lever"></span>
                    Active Raids only
                  </label>
                </div>
              </div>
              <div class="form-control">
                <div class="switch">
                  <label>
                    <input type="checkbox" id="raid-ex-eligible-switch">
                    <span class="lever"></span>
                    EX eligible Raids only
                  </label>
                </div>
              </div>
              <div class="form-control">
                <div class="input-field">
                  <div class="select-title">Raid levels</div>
                  <select id="raid-level-select" multiple>
                    <option value="1">Level 1</option>
                    <option value="2">Level 2</option>
                    <option value="3">Level 3</option>
                    <option value="4">Level 4</option>
                    <option value="5">Level 5</option>
                  </select>
                </div>
              </div>
            </div>
            {% endif %}
          </div>
          {% endif %}
        </div>
      </li>
      {% endif %}
      {% if show.pokestops %}
      <li>
        <div class="collapsible-header"><i class="material-icons">nature</i>PokéStops</div>
        <div class="collapsible-body">
          <div class="settings-container">
            <div class="form-control">
              <div class="switch">
                <label>
                  <input type="checkbox" id="pokestop-switch">
                  <span class="lever"></span>
                  PokéStops
                </label>
              </div>
            </div>
            <div id="pokestop-filters-wrapper">
              <div class="form-control">
                <div class="input-field">
                  <div class="text-input-title">Name includes</div>
                  <input placeholder="Filter..." id="pokestop-name-filter" type="text">
                </div>
              </div>
              <div class="form-control">
                <div class="switch">
                  <label>
                    <input type="checkbox" id="pokestop-no-event-switch">
                    <span class="lever"></span>
                    PokéStops without event
                  </label>
                </div>
              </div>
              {% if show.quests %}
              <div class="form-control">
                <div class="switch">
                  <label>
                    <input type="checkbox" id="quest-switch">
                    <span class="lever"></span>
                    Quests
                  </label>
                  <a data-target="quest-filter-modal" class="waves-effect btn-flat modal-trigger filter-button" title="Filter Quests"><i class="material-icons left">filter_list</i></a>
                </div>
              </div>
              {% endif %}
              {% if show.invasions %}
              <div class="form-control">
                <div class="switch">
                  <label>
                    <input type="checkbox" id="invasion-switch">
                    <span class="lever"></span>
                    Team Rocket Invasions
                  </label>
                  <a data-target="invasion-filter-modal" class="waves-effect btn-flat modal-trigger filter-button" title="Filter Invasions"><i class="material-icons left">filter_list</i></a>
                </div>
              </div>
              {% endif %}
              {% if show.lures %}
              <div class="form-control">
                <div class="switch">
                  <label>
                    <input type="checkbox" id="lure-switch">
                    <span class="lever"></span>
                    Lures
                  </label>
                </div>
              </div>
              <div id="lure-type-select-wrapper">
                <div class="form-control">
                  <div class="input-field">
                    <div class="select-title">Filter Lures</div>
                    <select id="lure-type-select" multiple>
                      <option value="501">Normal Lures</option>
                      <option value="502">Glacial Lures</option>
                      <option value="504">Magnetic Lures</option>
                      <option value="503">Mossy Lures</option>
                    </select>
                  </div>
                </div>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </li>
      {% endif %}
      <li>
        <div class="collapsible-header"><i class="material-icons">cloud</i>Weather</div>
        <div class="collapsible-body">
          <div class="switch">
            <label>
              Weather
              <input type="checkbox">
              <span class="lever"></span>
            </label>
          </div>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">map</i>Map</div>
        <div class="collapsible-body">
          <div class="switch">
            <label>
              Test123
              <input type="checkbox">
              <span class="lever"></span>
            </label>
          </div>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">place</i>Location</div>
        <div class="collapsible-body">
          <div class="switch">
            <label>
              Start Map at My Position
              <input type="checkbox">
              <span class="lever"></span>
            </label>
          </div>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">notifications</i>Notifications</div>
        <div class="collapsible-body">
          <div class="switch">
            <label>
              ...
              <input type="checkbox">
              <span class="lever"></span>
            </label>
          </div>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">palette</i>Style</div>
        <div class="collapsible-body">
          <div class="switch">
            <label>
              style
              <input type="checkbox">
              <span class="lever"></span>
            </label>
          </div>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">settings</i>Settings</div>
        <div class="collapsible-body">
          <div><a class="waves-effect waves-light btn"><i class="material-icons left">file_download</i>Import</a></div>
          <div><a class="waves-effect waves-light btn"><i class="material-icons left">file_upload</i>Export</a></div>
          <div><a class="waves-effect waves-light btn"><i class="material-icons left">autorenew</i>Reset</a></div>
        </div>
      </li>
    </ul>

    <div id="main-container">
      <div id="map"></div>
    </div>

    <script>
      var centerLat = {{lat}};
      var centerLng = {{lng}};
      var showConfig = {{show|tojson|safe}};
      var showAllZoomLevel = {{showAllZoomLevel}};
      var generateImages = {{generateImages}};
      var rarityFileName = "{{rarityFileName}}";
      var exParksFileName = "{{exParksFileName}}";
      var nestParksFileName = "{{nestParksFileName}}";
    </script>

    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet-fullscreen@1.0.2/dist/Leaflet.fullscreen.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet-geosearch@2.7.0/dist/bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet.smooth_marker_bouncing@1.3.0/leaflet.smoothmarkerbouncing.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/s2-geometry@1.2.10/src/s2geometry.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/materialize-css@1.0.0/dist/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/materialize-css@1.0.0/extras/noUiSlider/nouislider.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/push.js@1.0.12/bin/push.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/toastr@2.1.4/toastr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8.18.6/dist/sweetalert2.all.min.js"></script>

    <script src="static/dist/js/utils.min.js"></script>
    <script src="static/dist/js/map.common.min.js"></script>
    <!-- Load custom JS before map.js so it can change Store defaults. -->
    {% if show.custom_js %}
    <script src="static/dist/js/custom.min.js"></script>
    {% endif %}
    <script src="static/dist/js/map.min.js"></script>

    <script>
      $(document).ready(function() {
          initMap()
      })
    </script>
  </body>
</html>
