<!DOCTYPE html>
<html lang="{{lang}}">
  <head>
    <title>{{ map_title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/materialize-css@1.0.0/dist/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/materialize-css@1.0.0/extras/noUiSlider/nouislider.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.11.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-fullscreen@1.0.2/dist/leaflet.fullscreen.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.markercluster@1.4.1/dist/MarkerCluster.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-geosearch@2.7.0/assets/css/leaflet.min.css">
    <link rel="stylesheet" type="text/css" href="static/dist/css/map.min.css">
    {% if custom_css %}
    <link rel="stylesheet" type="text/css" href="static/css/custom.css">
    {% endif %}
  </head>

  <body>
    <header>
      <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper">
            <ul>
              <li><a href="#nav" data-target="settings-sidenav" class="sidenav-trigger"><i class="material-icons">menu</i></a></li>
              <li><a href="./" class="brand-logo">{{ map_title }}</a></li>
            </ul>
            <ul class="right">
              <li><a class="dropdown-trigger hide-on-med-and-up" href="#" data-target="navbar-dropdown"><i class="material-icons">apps</i></a></li>
              {% if discord_url %}
              <li><a href="{{ discord_url }}" class="hide-on-small-only" title="Discord" target="_blank"><i class="fab fa-discord material-icons"></i></a></li>
              {% endif %}
              {% if messenger_url %}
              <li><a href="{{ messenger_url }}" class="hide-on-small-only" title="Messenger" target="_blank"><i class="fab fa-facebook-messenger material-icons"></i></a></li>
              {% endif %}
              {% if telegramUrl %}
              <li><a href="{{ telegramUrl }}" class="hide-on-small-only" title="Telegram" target="_blank"><i class="fab fa-telegram-plane material-icons"></i></a></li>
              {% endif %}
              {% if whatsapp_url %}
              <li><a href="{{ whatsapp_url }}" class="hide-on-small-only" title="WhatsApp" target="_blank"><i class="fab fa-whatsapp material-icons"></i></a></li>
              {% endif %}
              {% if patreon_url %}
              <li><a href="{{ patreon_url }}" class="hide-on-small-only" title="Patreon" target="_blank"><i class="fab fa-patreon material-icons"></i></a></li>
              {% endif %}
              {% if donate_url %}
              <li><a href="{{ donate_url }}" class="hide-on-small-only" title="Donate" target="_blank"><i class="material-icons">attach_money</i></a></li>
              {% endif %}
              {% if madmin_url %}
              <li><a href="{{ madmin_url }}" class="hide-on-small-only" title="MADmin" target="_blank"><i class="material-icons">info</i></a></li>
              {% endif %}
              <li><a data-target="weather-modal" id="weather-button" class="modal-trigger" title="Weather" style="display:none;"><i class="material-icons"></i></a></li>
              <li><a href="stats" class="hide-on-small-only" title="Statistics"><i class="material-icons">pie_chart</i></a></li>
              <li><a href="#stats" title="Live stats"><i class="material-icons">equalizer</i></a></li>
            </ul>
          </div>
        </nav>
      </div>
    </header>

    <ul id="navbar-dropdown" class="dropdown-content">
      <li><a href="stats"><i class="material-icons">pie_chart</i>Statistics</a></li>
      {% if madmin_url %}
      <li><a href="{{ madmin_url }}" target="_blank"><i class="material-icons">info</i>MADmin</a></li>
      {% endif %}
      {% if donate_url or patreon_url %}
      <li class="divider" tabindex="-1"></li>
      {% endif %}
      {% if donate_url %}
      <li><a href="{{ donate_url }}" target="_blank"><i class="material-icons">attach_money</i>Donate</a></li>
      {% endif %}
      {% if patreon_url %}
      <li><a href="{{ patreon_url }}" target="_blank"><i class="fab fa-patreon"></i>Patreon</a></li>
      {% endif %}
      {% if discord_url or messenger_url or telegramUrl or whatsapp_url %}
      <li class="divider" tabindex="-1"></li>
      {% endif %}
      {% if discord_url %}
      <li><a href="{{ discord_url }}" target="_blank"><i class="fab fa-discord"></i>Discord</a></li>
      {% endif %}
      {% if messenger_url %}
      <li><a href="{{ messenger_url }}" target="_blank"><i class="fab fa-facebook-messenger"></i>Messenger</a></li>
      {% endif %}
      {% if telegramUrl %}
      <li><a href="{{ telegramUrl }}" target="_blank"><i class="fab fa-telegram-plane"></i>Telegram</a></li>
      {% endif %}
      {% if whatsapp_url %}
      <li><a href="{{ whatsapp_url }}" target="_blank"><i class="fab fa-whatsapp"></i>WhatsApp</a></li>
      {% endif %}
    </ul>

    {% if settings.pokemons %}
    <div id="pokemon-filter-modal" class="modal filter-modal">
      <div class="modal-content">
        <h6 id="filter-pokemon-title">Pokémon</h6>
        <label for="exclude-pokemon">
          <input id="exclude-pokemon" type="text" readonly="true" style="display:none;">
          <div class="pokemon-filter-list"></div>
          <div class="filter-footer-container">
            <div class="filter-footer-left">
              <a class="btn-flat tooltipped search-info-btn" data-html="true" data-position="top" data-tooltip="You can search for:<br>Name, ID, Type and Generation.<br>Multiple search terms can be used<br>by separating them with commas.<br>Exclusion is possible by prepending<br>'-' to a search term."><i class="material-icons">info_outline</i></a>
              <input type="search" class="search" placeholder="Search...">
            </div>
            <div class="filter-footer-right">
              <a class="waves-effect btn-flat pokemon-select-filtered" style="display:none;"><i class="material-icons" title="Select all">select_all</i></a>
              <a class="waves-effect btn-flat pokemon-deselect-filtered" style="display:none;"><i class="material-icons" title="Deselect all">clear</i></a>
              <a class="waves-effect btn-flat pokemon-select-all"><i class="material-icons" title="Select all">select_all</i></a>
              <a class="waves-effect btn-flat pokemon-deselect-all"><i class="material-icons" title="Deselect all">clear</i></a>
            </div>
          </div>
        </label>
      </div>
    </div>
    {% endif %}

    {% if settings.pokemonValues %}
    <div id="pokemon-values-filter-modal" class="modal filter-modal">
      <div class="modal-content">
        <h6 id="filter-values-pokemon-title">Pokémon filtered by values</h6>
        <label for="unfiltered-pokemon">
          <input id="unfiltered-pokemon" type="text" readonly="true" style="display:none;">
          <div class="pokemon-filter-list"></div>
          <div class="filter-footer-container">
            <div class="filter-footer-left">
              <a class="btn-flat tooltipped search-info-btn" data-html="true" data-position="top" data-tooltip="You can search for:<br>Name, ID, Type and Generation.<br>Multiple search terms can be used<br>by separating them with commas.<br>Exclusion is possible by prepending<br>'-' to a search term."><i class="material-icons">info_outline</i></a>
              <input type="search" class="search" placeholder="Search...">
            </div>
            <div class="filter-footer-right">
              <a class="waves-effect btn-flat pokemon-select-filtered" style="display:none;"><i class="material-icons" title="Select all">select_all</i></a>
              <a class="waves-effect btn-flat pokemon-deselect-filtered" style="display:none;"><i class="material-icons" title="Deselect all">clear</i></a>
              <a class="waves-effect btn-flat pokemon-select-all"><i class="material-icons" title="Select all">select_all</i></a>
              <a class="waves-effect btn-flat pokemon-deselect-all"><i class="material-icons" title="Deselect all">clear</i></a>
            </div>
          </div>
        </label>
      </div>
    </div>
    {% endif %}

    {% if settings.raidFilters %}
    <div id="raid-pokemon-filter-modal" class="modal filter-modal">
      <div class="modal-content">
        <h6 id="filter-raid-pokemon-title">Raid Bosses</h6>
        <label for="exclude-raid-pokemon">
          <input id="exclude-raid-pokemon" type="text" readonly="true" style="display:none;">
          <div class="pokemon-filter-list"></div>
          <div class="filter-footer-container">
            <div class="filter-footer-left">
              <a class="btn-flat tooltipped search-info-btn" data-html="true" data-position="top" data-tooltip="You can search for:<br>Name, ID, Type and Generation.<br>Multiple search terms can be used<br>by separating them with commas.<br>Exclusion is possible by prepending<br>'-' to a search term."><i class="material-icons">info_outline</i></a>
              <input type="search" class="search" placeholder="Search...">
            </div>
            <div class="filter-footer-right">
              <a class="waves-effect btn-flat pokemon-select-filtered" style="display:none;"><i class="material-icons" title="Select all">select_all</i></a>
              <a class="waves-effect btn-flat pokemon-deselect-filtered" style="display:none;"><i class="material-icons" title="Deselect all">clear</i></a>
              <a class="waves-effect btn-flat pokemon-select-all"><i class="material-icons" title="Select all">select_all</i></a>
              <a class="waves-effect btn-flat pokemon-deselect-all"><i class="material-icons" title="Deselect all">clear</i></a>
            </div>
          </div>
        </label>
      </div>
    </div>
    {% endif %}

    {% if settings.quests %}
    <div id="quest-filter-modal" class="modal filter-modal">
      <div class="modal-content">
        <ul id ="quest-filter-tabs" class="tabs grey lighten-5">
          <li class="tab"><a href="#quest-pokemon-tab" class="active">Quest Pokémon</a></li>
          <li class="tab"><a href="#quest-item-tab">Quest Items</a></li>
        </ul>
        <div id="quest-pokemon-tab">
          <label for="exclude-quest-pokemon">
            <input id="exclude-quest-pokemon" type="text" readonly="true" style="display:none;">
            <div class="pokemon-filter-list"></div>
            <div class="filter-footer-container">
              <div class="filter-footer-left">
                <a class="btn-flat tooltipped search-info-btn" data-html="true" data-position="top" data-tooltip="You can search for:<br>Name, ID, Type and Generation.<br>Multiple search terms can be used<br>by separating them with commas.<br>Exclusion is possible by prepending<br>'-' to a search term."><i class="material-icons">info_outline</i></a>
                <input type="search" class="search" placeholder="Search...">
              </div>
              <div class="filter-footer-right">
                <a class="waves-effect btn-flat pokemon-select-filtered" style="display:none;"><i class="material-icons" title="Select all">select_all</i></a>
                <a class="waves-effect btn-flat pokemon-deselect-filtered" style="display:none;"><i class="material-icons" title="Deselect all">clear</i></a>
                <a class="waves-effect btn-flat pokemon-select-all"><i class="material-icons" title="Select all">select_all</i></a>
                <a class="waves-effect btn-flat pokemon-deselect-all"><i class="material-icons" title="Deselect all">clear</i></a>
              </div>
            </div>
          </label>
        </div>
        <div id="quest-item-tab">
          <label for="exclude-quest-items">
            <input id="exclude-quest-items" type="text" readonly="true" style="display:none;">
            <div class="quest-item-filter-list"></div>
            <div class="filter-footer-container">
              <div></div>
              <div class="filter-footer-right">
                <a class="waves-effect btn-flat quest-item-select-all"><i class="material-icons" title="Select all">select_all</i></a>
                <a class="waves-effect btn-flat quest-item-deselect-all"><i class="material-icons" title="Deselect all">clear</i></a>
              </div>
            </div>
          </label>
        </div>
      </div>
    </div>
    {% endif %}

    {% if settings.invasions %}
    <div id="invasion-filter-modal" class="modal filter-modal">
      <div class="modal-content">
        <h6 id="filter-invasion-title">Team Rocket Invasions</h6>
        <label for="exclude-invasions">
          <input id="exclude-invasions" type="text" readonly="true" style="display:none;">
          <div class="invasion-filter-list"></div>
          <div class="filter-footer-container">
            <div></div>
            <div class="filter-footer-right">
              <a class="waves-effect btn-flat invasion-select-all"><i class="material-icons" title="Select all">select_all</i></a>
              <a class="waves-effect btn-flat invasion-deselect-all"><i class="material-icons" title="Deselect all">clear</i></a>
            </div>
          </div>
        </label>
      </div>
    </div>
    {% endif %}

    {% if settings.weather %}
    <div id="weather-modal" class="modal">
      <div class="modal-content">
        <h4>Weather</h4>
        <div id="weather-modal-image"><img src="" width="192"></div>
        <h5>Boosted Types</h5>
        <div id="boosted-types-container"></div>
      </div>
    </div>
    {% endif %}

    {% if settings.pokemons %}
    <div id="notif-pokemon-filter-modal" class="modal filter-modal">
      <div class="modal-content">
        <h6 id="notif-pokemon-filter-title">Pokémon notifications</h6>
        <label for="no-notif-pokemon">
          <input id="no-notif-pokemon" type="text" readonly="true" style="display:none;">
          <div class="pokemon-filter-list"></div>
          <div class="filter-footer-container">
            <div class="filter-footer-left">
              <a class="btn-flat tooltipped search-info-btn" data-html="true" data-position="top" data-tooltip="You can search for:<br>Name, ID, Type and Generation.<br>Multiple search terms can be used<br>by separating them with commas.<br>Exclusion is possible by prepending<br>'-' to a search term."><i class="material-icons">info_outline</i></a>
              <input type="search" class="search" placeholder="Search...">
            </div>
            <div class="filter-footer-right">
              <a class="waves-effect btn-flat pokemon-select-filtered" style="display:none;"><i class="material-icons" title="Select all">select_all</i></a>
              <a class="waves-effect btn-flat pokemon-deselect-filtered" style="display:none;"><i class="material-icons" title="Deselect all">clear</i></a>
              <a class="waves-effect btn-flat pokemon-select-all"><i class="material-icons" title="Select all">select_all</i></a>
              <a class="waves-effect btn-flat pokemon-deselect-all"><i class="material-icons" title="Deselect all">clear</i></a>
            </div>
          </div>
        </label>
      </div>
    </div>
    {% endif %}

    {% if settings.pokemonValues %}
    <div id="notif-pokemon-values-filter-modal" class="modal filter-modal">
      <div class="modal-content">
        <h6 id="notif-pokemon-values-filter-title">Pokémon values notifs</h6>
        <label for="no-notif-values-pokemon">
          <input id="no-notif-values-pokemon" type="text" readonly="true" style="display:none;">
          <div class="pokemon-filter-list"></div>
          <div class="filter-footer-container">
            <div class="filter-footer-left">
              <a class="btn-flat tooltipped search-info-btn" data-html="true" data-position="top" data-tooltip="You can search for:<br>Name, ID, Type and Generation.<br>Multiple search terms can be used<br>by separating them with commas.<br>Exclusion is possible by prepending<br>'-' to a search term."><i class="material-icons">info_outline</i></a>
              <input type="search" class="search" placeholder="Search...">
            </div>
            <div class="filter-footer-right">
              <a class="waves-effect btn-flat pokemon-select-filtered" style="display:none;"><i class="material-icons" title="Select all">select_all</i></a>
              <a class="waves-effect btn-flat pokemon-deselect-filtered" style="display:none;"><i class="material-icons" title="Deselect all">clear</i></a>
              <a class="waves-effect btn-flat pokemon-select-all"><i class="material-icons" title="Select all">select_all</i></a>
              <a class="waves-effect btn-flat pokemon-deselect-all"><i class="material-icons" title="Deselect all">clear</i></a>
            </div>
          </div>
        </label>
      </div>
    </div>
    {% endif %}

    {% if settings.pokemons or settings.raids or settings.quests %}
    <div id="import-pokemon-list-modal" class="modal">
      <div class="modal-content">
        <h4>Import Pokémon list</h4>
        <p>
          <input id="pokemon-list-file" type="file" id="avatar" name="avatar" accept=".txt">
        </p>
        <p>Import to:</p>
        {% if settings.pokemons %}
        <p>
          <label>
            <input type="checkbox" id="import-pokemon-checkbox"/>
            <span>Pokémon filter</span>
          </label>
        </p>
        {% endif %}
        {% if settings.pokemonValues %}
        <p>
          <label>
            <input type="checkbox" id="import-values-pokemon-checkbox"/>
            <span>Pokémon values filter</span>
          </label>
        </p>
        {% endif %}
        {% if settings.raidFilters %}
        <p>
          <label>
            <input type="checkbox" id="import-raid-pokemon-checkbox"/>
            <span>Raid boss filter</span>
          </label>
        </p>
        {% endif %}
        {% if settings.quests %}
        <p>
          <label>
            <input type="checkbox" id="import-quest-pokemon-checkbox"/>
            <span>Quest Pokémon filter</span>
          </label>
        </p>
        {% endif %}
        {% if settings.pokemons %}
        <p>
          <label>
            <input type="checkbox" id="import-notif-pokemon-checkbox"/>
            <span>Pokémon notification filter</span>
          </label>
        </p>
        {% endif %}
        {% if settings.pokemonValues %}
        <p>
          <label>
            <input type="checkbox" id="import-notif-values-pokemon-checkbox"/>
            <span>Pokémon values notification filter</span>
          </label>
        </p>
        {% endif %}
        <a id="import-pokemon-list" class="waves-effect waves-light btn"><i class="material-icons left">file_download</i>Import</a>
      </div>
    </div>

    <div id="export-pokemon-list-modal" class="modal">
      <div class="modal-content">
        <h4>Export Pokémon lists</h4>
        {% if settings.pokemons %}
        <p><a id="export-pokemon-button" class="waves-effect waves-teal btn-flat"><i class="material-icons left">file_upload</i>Pokémon list</a></p>
        {% endif %}
        {% if settings.pokemonValues %}
        <p><a id="export-values-pokemon-button" class="waves-effect waves-teal btn-flat"><i class="material-icons left">file_upload</i>Pokémon values list</a></p>
        {% endif %}
        {% if settings.raids %}
        <p><a id="export-raid-pokemon-button" class="waves-effect waves-teal btn-flat"><i class="material-icons left">file_upload</i>Raid Bosses list</a></p>
        {% endif %}
        {% if settings.quests %}
        <p><a id="export-quest-pokemon-button" class="waves-effect waves-teal btn-flat"><i class="material-icons left">file_upload</i>Quest Pokémon list</a></p>
        {% endif %}
        {% if settings.pokemons %}
        <p><a id="export-notif-pokemon-button" class="waves-effect waves-teal btn-flat"><i class="material-icons left">file_upload</i>Pokémon notifications list</a></p>
        {% endif %}
        {% if settings.pokemonValues %}
        <p><a id="export-notif-values-pokemon-button" class="waves-effect waves-teal btn-flat"><i class="material-icons left">file_upload</i>Pokémon values notifications list</a></p>
        {% endif %}
      </div>
    </div>
    {% endif %}

    <ul id="settings-sidenav" class="sidenav collapsible">
      {% if settings.pokemons %}
      <li>
        <div class="collapsible-header"><i class="material-icons">pets</i>Pokémon</div>
        <div class="collapsible-body">
          <div class="settings-container">
            <div class="form-control">
              <div class="switch">
                <label>
                  <input type="checkbox" id="pokemon-switch">
                  <span class="lever"></span>
                  Pokémon
                </label>
                <a data-target="pokemon-filter-modal" class="waves-effect btn-flat modal-trigger filter-button" title="Filter Pokémon"><i class="material-icons left">filter_list</i></a>
              </div>
            </div>
          </div>
          <div id="pokemon-filters-wrapper">
            {% if settings.pokemonValues %}
            <div class="settings-container">
              <div class="form-control">
                <div class="switch">
                  <label>
                    <input type="checkbox" id="pokemon-values-switch">
                    <span class="lever"></span>
                    Pokémon values
                  </label>
                </div>
              </div>
              <div id="filter-pokemon-values-wrapper">
                <div class="form-control">
                  <div class="switch">
                    <label>
                      <input type="checkbox" id="filter-values-switch">
                      <span class="lever"></span>
                      Filter by values
                    </label>
                    <a data-target="pokemon-values-filter-modal" class="waves-effect btn-flat modal-trigger filter-button" title="Select Pokémon to be filtered by values"><i class="material-icons left">filter_list</i></a>
                  </div>
                </div>
                <div id="pokemon-values-filters-wrapper">
                  <div id="zero-ivs-pokemon-switch-wrapper">
                    <div class="form-control">
                      <div class="switch">
                        <label>
                          <input type="checkbox" id="zero-ivs-pokemon-switch">
                          <span class="lever"></span>
                          0% IV Pokémon
                        </label>
                      </div>
                    </div>
                  </div>
                  <div id="hundo-ivs-pokemon-switch-wrapper">
                    <div class="form-control">
                      <div class="switch">
                        <label>
                          <input type="checkbox" id="hundo-ivs-pokemon-switch">
                          <span class="lever"></span>
                          100% IV Pokémon
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-control">
                    <span id="pokemon-ivs-slider-title" class="slider-title">IVs</span>
                    <div class="slider-container">
                      <div id="pokemon-ivs-slider"></div>
                    </div>
                  </div>
                  <div class="form-control">
                    <span id="pokemon-level-slider-title" class="slider-title">Levels</span>
                    <div class="slider-container">
                      <div id="pokemon-level-slider"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}
            {% if settings.rarity %}
            <div class="settings-container">
              <div class="form-control">
                <div class="input-field">
                  <div class="select-title">Rarity</div>
                  <select id="rarity-select" multiple>
                    <option value="1">Common</option>
                    <option value="2">Uncommon</option>
                    <option value="3">Rare</option>
                    <option value="4">Very Rare</option>
                    <option value="5">Ultra Rare</option>
                    <option value="6">New Spawn</option>
                  </select>
                </div>
              </div>
              <div class="form-control">
                <div class="switch">
                  <label>
                    <input type="checkbox" id="scale-rarity-switch">
                    <span class="lever"></span>
                    Scale by Rarity
                  </label>
                </div>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </li>
      {% endif %}
      {% if settings.gyms or settings.raids %}
      <li>
        {% if settings.gyms and settings.raids %}
        <div class="collapsible-header"><i class="material-icons">security</i>Gyms & Raids</div>
        {% elif settings.gyms %}
        <div class="collapsible-header"><i class="material-icons">security</i>Gyms</div>
        {% else %}
        <div class="collapsible-header"><i class="material-icons">security</i>Raids</div>
        {% endif %}
        <div class="collapsible-body">
          <div id="gym-name-filter-sidebar-wrapper">
            <div class="settings-container">
              <div class="form-control">
                <div class="input-field">
                  <div class="text-input-title">Name includes</div>
                  <input placeholder="Filter..." id="gym-name-filter" type="text">
                </div>
              </div>
              {% if settings.gymSidebar %}
              <div class="form-control">
                <div class="switch">
                  <label>
                    <input type="checkbox" id="gym-sidebar-switch">
                    <span class="lever"></span>
                    Gym sidebar
                  </label>
                </div>
              </div>
              {% endif %}
            </div>
          </div>
          {% if settings.gyms %}
          <div class="settings-container">
            <div class="form-control">
              <div class="switch">
                <label>
                  <input type="checkbox" id="gym-switch">
                  <span class="lever"></span>
                  Gyms
                </label>
              </div>
            </div>
            {% if settings.gymFilters %}
            <div id="gym-filters-wrapper">
              <div class="form-control">
                <div class="input-field">
                  <div class="select-title">Teams</div>
                  <select id="gym-team-select" multiple>
                    <option value="0">Uncontested</option>
                    <option value="1">Mystic</option>
                    <option value="2">Valor</option>
                    <option value="3">Instinct</option>
                  </select>
                </div>
              </div>
              <div class="form-control">
                <span id="gym-level-slider-title" class="slider-title">Gym levels</span>
                <div class="slider-container">
                  <div id="gym-level-slider"></div>
                </div>
              </div>
              <div class="form-control">
                <div class="switch">
                  <label>
                    <input type="checkbox" id="gym-open-spot-switch">
                    <span class="lever"></span>
                    Open spot only
                  </label>
                </div>
              </div>
              <div class="form-control">
                <div class="switch">
                  <label>
                    <input type="checkbox" id="gym-ex-eligible-switch">
                    <span class="lever"></span>
                    EX eligible Gyms only
                  </label>
                </div>
              </div>
              <div class="form-control">
                <div class="switch">
                  <label>
                    <input type="checkbox" id="gym-in-battle-switch">
                    <span class="lever"></span>
                    Gyms in battle only
                  </label>
                </div>
              </div>
              <div class="form-control">
                <div class="input-field">
                  <div class="select-title">Last scanned</div>
                  <select id="gym-last-scanned-select">
                    <option value="0">Any time</option>
                    <option value="1">Within last hour</option>
                    <option value="6">Within last 6 hours</option>
                    <option value="12">Within last 12 hours</option>
                    <option value="24">Within last day</option>
                    <option value="168">Within last week</option>
                    <option value="730">Within last month</option>
                    <option value="4380">Within last 6 months</option>
                    <option value="8760">Within last year</option>
                  </select>
                </div>
              </div>
            </div>
            {% endif %}
          </div>
          {% endif %}
          {% if settings.raids %}
          <div class="settings-container">
            <div class="form-control">
              <div class="switch">
                <label>
                  <input type="checkbox" id="raid-switch">
                  <span class="lever"></span>
                  Raids
                </label>
                {% if settings.raidFilters %}
                <a data-target="raid-pokemon-filter-modal" class="waves-effect btn-flat modal-trigger filter-button" title="Filter Raid Bosses"><i class="material-icons left">filter_list</i></a>
                {% endif %}
              </div>
            </div>
            {% if settings.raidFilters %}
            <div id="raid-filters-wrapper">
              <div class="form-control">
                <div class="switch">
                  <label>
                    <input type="checkbox" id="raid-active-switch">
                    <span class="lever"></span>
                    Active Raids only
                  </label>
                </div>
              </div>
              <div class="form-control">
                <div class="switch">
                  <label>
                    <input type="checkbox" id="raid-ex-eligible-switch">
                    <span class="lever"></span>
                    EX eligible Raids only
                  </label>
                </div>
              </div>
              <div class="form-control">
                <div class="input-field">
                  <div class="select-title">Raid levels</div>
                  <select id="raid-level-select" multiple>
                    <option value="1">Level 1</option>
                    <option value="2">Level 2</option>
                    <option value="3">Level 3</option>
                    <option value="4">Level 4</option>
                    <option value="5">Level 5</option>
                  </select>
                </div>
              </div>
            </div>
            {% endif %}
          </div>
          {% endif %}
        </div>
      </li>
      {% endif %}
      {% if settings.pokestops %}
      <li>
        <div class="collapsible-header"><i class="material-icons">nature</i>PokéStops</div>
        <div class="collapsible-body">
          <div class="settings-container">
            <div class="form-control">
              <div class="switch">
                <label>
                  <input type="checkbox" id="pokestop-switch">
                  <span class="lever"></span>
                  PokéStops
                </label>
              </div>
            </div>
            <div id="pokestop-filters-wrapper">
              <div class="form-control">
                <div class="input-field">
                  <div class="text-input-title">Name includes</div>
                  <input placeholder="Filter..." id="pokestop-name-filter" type="text">
                </div>
              </div>
              <div class="form-control">
                <div class="switch">
                  <label>
                    <input type="checkbox" id="pokestop-no-event-switch">
                    <span class="lever"></span>
                    PokéStops without event
                  </label>
                </div>
              </div>
              {% if settings.quests %}
              <div class="form-control">
                <div class="switch">
                  <label>
                    <input type="checkbox" id="quest-switch">
                    <span class="lever"></span>
                    Quests
                  </label>
                  <a data-target="quest-filter-modal" class="waves-effect btn-flat modal-trigger filter-button" title="Filter Quests"><i class="material-icons left">filter_list</i></a>
                </div>
              </div>
              {% endif %}
              {% if settings.invasions %}
              <div class="form-control">
                <div class="switch">
                  <label>
                    <input type="checkbox" id="invasion-switch">
                    <span class="lever"></span>
                    Team Rocket Invasions
                  </label>
                  <a data-target="invasion-filter-modal" class="waves-effect btn-flat modal-trigger filter-button" title="Filter Invasions"><i class="material-icons left">filter_list</i></a>
                </div>
              </div>
              {% endif %}
              {% if settings.lures %}
              <div class="form-control">
                <div class="switch">
                  <label>
                    <input type="checkbox" id="lure-switch">
                    <span class="lever"></span>
                    Lures
                  </label>
                </div>
              </div>
              <div id="lure-type-select-wrapper">
                <div class="form-control">
                  <div class="input-field">
                    <div class="select-title">Filter Lures</div>
                    <select id="lure-type-select" multiple>
                      <option value="501">Normal Lures</option>
                      <option value="502">Glacial Lures</option>
                      <option value="504">Magnetic Lures</option>
                      <option value="503">Mossy Lures</option>
                    </select>
                  </div>
                </div>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </li>
      {% endif %}
      {% if settings.weather %}
      <li>
        <div class="collapsible-header"><i class="material-icons">cloud</i>Weather</div>
        <div class="collapsible-body">
          <div class="settings-container">
            <div class="form-control">
              <div class="switch">
                <label>
                  <input type="checkbox" id="weather-switch">
                  <span class="lever"></span>
                  Weather
                </label>
              </div>
            </div>
            <div id="weather-forms-wrapper">
              <div class="form-control">
                <div class="switch">
                  <label>
                    <input type="checkbox" id="weather-cells-switch">
                    <span class="lever"></span>
                    Weather cells
                  </label>
                </div>
              </div>
              <div class="form-control">
                <div class="switch">
                  <label>
                    <input type="checkbox" id="main-weather-switch">
                    <span class="lever"></span>
                    Main weather in header
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      {% endif %}
      {% if settings.s2Cells %}
      <li>
        <div class="collapsible-header"><i class="material-icons">grid_on</i>S2 cells</div>
        <div class="collapsible-body">
          <div class="settings-container">
            <div class="form-control">
              <div class="switch">
                <label>
                  <input type="checkbox" id="s2-cell-switch">
                  <span class="lever"></span>
                  S2 cells
                </label>
              </div>
            </div>
            <div id="s2-filters-wrapper">
              <div class="form-control">
                <div class="switch">
                  <label>
                    <input type="checkbox" id="s2-level10-switch">
                    <span class="lever"></span>
                    Weather cells (S2 L10)
                  </label>
                </div>
              </div>
              <div class="form-control">
                <div class="switch">
                  <label>
                    <input type="checkbox" id="s2-level13-switch">
                    <span class="lever"></span>
                    Ex trigger cells (S2 L13)
                  </label>
                </div>
              </div>
              <div class="form-control">
                <div class="switch">
                  <label>
                    <input type="checkbox" id="s2-level14-switch">
                    <span class="lever"></span>
                    Gym cells (S2 L14)
                  </label>
                </div>
              </div>
              <div class="form-control">
                <div class="switch">
                  <label>
                    <input type="checkbox" id="s2-level17-switch">
                    <span class="lever"></span>
                    PokéStop cells (S2 L17)
                  </label>
                </div>
              </div>
              <div class="form-control">
                <div class="switch">
                  <label>
                    <input type="checkbox" id="s2-cells-warning-switch">
                    <span class="lever"></span>
                    Warn about hidden cells
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      {% endif %}
      {% if settings.spawnpoints or settings.scannedLocs or settings.nestParks or settings.exParks or settings.ranges %}
      <li>
        <div class="collapsible-header"><i class="material-icons">map</i>Map misc</div>
        <div class="collapsible-body">
          <div class="settings-container">
            {% if settings.spawnpoints %}
            <div class="form-control">
              <div class="switch">
                <label>
                  <input type="checkbox" id="spawnpoint-switch">
                  <span class="lever"></span>
                  Spawn points
                </label>
              </div>
            </div>
            {% endif %}
            {% if settings.scannedLocs %}
            <div class="form-control">
              <div class="switch">
                <label>
                  <input type="checkbox" id="scanned-locs-switch">
                  <span class="lever"></span>
                  Scanned locations
                </label>
              </div>
            </div>
            {% endif %}
            {% if settings.nestParks %}
            <div class="form-control">
              <div class="switch">
                <label>
                  <input type="checkbox" id="nest-park-switch">
                  <span class="lever"></span>
                  Nest parks
                </label>
              </div>
            </div>
            {% endif %}
            {% if settings.exParks %}
            <div class="form-control">
              <div class="switch">
                <label>
                  <input type="checkbox" id="ex-park-switch">
                  <span class="lever"></span>
                  EX eligible parks
                </label>
              </div>
            </div>
            {% endif %}
            <div class="form-control">
              <div class="switch">
                <label>
                  <input type="checkbox" id="ranges-switch">
                  <span class="lever"></span>
                  Interaction ranges
                </label>
              </div>
            </div>
            <div id="range-type-select-wrapper">
              <div class="form-control">
                <div class="input-field">
                  <div class="select-title">Filter interaction ranges</div>
                  <select id="range-type-select" multiple>
                    <option value="1">Pokémon ranges</option>
                    <option value="2">Gym ranges</option>
                    <option value="3">PokéStop ranges</option>
                    <option value="4">Spawn point ranges</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      {% endif %}
      <li>
        <div class="collapsible-header"><i class="material-icons">place</i>Location</div>
        <div class="collapsible-body">
          <div class="settings-container">
            <div id="start-at-user-location-wrapper">
              <div class="form-control">
                <div class="switch">
                  <label>
                    <input type="checkbox" id="start-at-user-location-switch">
                    <span class="lever"></span>
                    Start map at my position
                  </label>
                </div>
              </div>
            </div>
            <div class="form-control">
              <div class="switch">
                <label>
                  <input type="checkbox" id="start-at-last-location-switch">
                  <span class="lever"></span>
                  Start map at last position
                </label>
              </div>
            </div>
            {% if settings.isStartMarkerMovable %}
            <div class="form-control">
              <div class="switch">
                <label>
                  <input type="checkbox" id="lock-start-marker-switch">
                  <span class="lever"></span>
                  Lock start location marker
                </label>
              </div>
            </div>
            {% endif %}
            <div id="follow-user-location-wrapper">
              <div class="form-control">
                <div class="switch">
                  <label>
                    <input type="checkbox" id="follow-user-location-switch">
                    <span class="lever"></span>
                    Follow me
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">notifications</i>Notifications</div>
        <div class="collapsible-body">
          {% if settings.pokemons %}
          <div class="settings-container">
            <div class="form-control">
              <div class="switch">
                <label>
                  <input type="checkbox" id="pokemon-notifs-switch">
                  <span class="lever"></span>
                  Pokémon notifs
                </label>
                <a data-target="notif-pokemon-filter-modal" class="waves-effect btn-flat modal-trigger filter-button" title="Filter Pokémon notifications"><i class="material-icons left">filter_list</i></a>
              </div>
            </div>
            <div id="pokemon-notif-filters-wrapper">
              {% if settings.pokemonValues %}
              <div class="form-control">
                <div class="switch">
                  <label>
                    <input type="checkbox" id="pokemon-values-notifs-switch">
                    <span class="lever"></span>
                    Pokémon values notifs
                  </label>
                  <a data-target="notif-pokemon-values-filter-modal" class="waves-effect btn-flat modal-trigger filter-button" title="Filter Pokémon notifications for values"><i class="material-icons left">filter_list</i></a>
                </div>
              </div>
              <div id="pokemon-values-notif-filters-wrapper">
                <div id="zero-ivs-pokemon-notifs-switch-wrapper">
                  <div class="form-control">
                    <div class="switch">
                      <label>
                        <input type="checkbox" id="zero-ivs-pokemon-notifs-switch">
                        <span class="lever"></span>
                        0% IV Pokémon notifs
                      </label>
                    </div>
                  </div>
                </div>
                <div id="hundo-ivs-pokemon-notifs-switch-wrapper">
                  <div class="form-control">
                    <div class="switch">
                      <label>
                        <input type="checkbox" id="hundo-ivs-pokemon-notifs-switch">
                        <span class="lever"></span>
                        100% IV Pokémon notifs
                      </label>
                    </div>
                  </div>
                </div>
                <div class="form-control">
                  <span id="pokemon-ivs-notifs-slider-title" class="slider-title">IVs notifs</span>
                  <div class="slider-container">
                    <div id="pokemon-ivs-notifs-slider"></div>
                  </div>
                </div>
                <div class="form-control">
                  <span id="pokemon-level-notifs-slider-title" class="slider-title">Levels notifs</span>
                  <div class="slider-container">
                    <div id="pokemon-level-notifs-slider"></div>
                  </div>
                </div>
              </div>
              {% if settings.rarity %}
              <div class="form-control">
                <div class="input-field">
                  <div class="select-title">Rarity notifs</div>
                  <select id="rarity-notifs-select" multiple>
                    <option value="1">Common</option>
                    <option value="2">Uncommon</option>
                    <option value="3">Rare</option>
                    <option value="4">Very Rare</option>
                    <option value="5">Ultra Rare</option>
                    <option value="6">New Spawn</option>
                  </select>
                </div>
              </div>
              {% endif %}
              <div class="form-control">
                <div class="switch">
                  <label>
                    <input type="checkbox" id="tiny-rattata-notifs-switch">
                    <span class="lever"></span>
                    Tiny Rattata notifs
                  </label>
                </div>
              </div>
              <div class="form-control">
                <div class="switch">
                  <label>
                    <input type="checkbox" id="big-magikarp-notifs-switch">
                    <span class="lever"></span>
                    Big Magikarp notifs
                  </label>
                </div>
              </div>
              {% endif %}
            </div>
          </div>
          {% endif %}
        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">palette</i>Style</div>
        <div class="collapsible-body">
          <div class="switch">
            <label>
              style
              <input type="checkbox">
              <span class="lever"></span>
            </label>
          </div>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">settings_backup_restore</i>Backup & Reset</div>
        <div class="collapsible-body">
          <div class="settings-container">
            <div class="form-control">
              <div><a class="waves-effect waves-light btn"><i class="material-icons left">file_download</i>Import settings</a></div>
            </div>
            <div class="form-control">
              <div><a class="waves-effect waves-light btn"><i class="material-icons left">file_upload</i>Export settings</a></div>
            </div>
            <div class="form-control">
              <div><a class="waves-effect waves-light btn"><i class="material-icons left">autorenew</i>Reset settings</a></div>
            </div>
          </div>
          {% if settings.pokemons or settings.raids or settings.quests %}
          <div class="settings-container">
            <div class="form-control">
              <div><a class="waves-effect waves-light btn modal-trigger" href="#import-pokemon-list-modal"><i class="material-icons left">file_download</i>Import Pokémon list</a></div>
            </div>
            <div class="form-control">
              <div><a class="waves-effect waves-light btn modal-trigger" href="#export-pokemon-list-modal"><i class="material-icons left">file_upload</i>Export Pokémon lists</a></div>
            </div>
          </div>
          {% endif %}
        </div>
      </li>
    </ul>

    <div id="main-container">
      <div id="map"></div>
    </div>

    <script>
      const serverSettings = {{settings|tojson|safe}};
    </script>

    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet-fullscreen@1.0.2/dist/Leaflet.fullscreen.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet-geosearch@2.7.0/dist/bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet.smooth_marker_bouncing@1.3.0/leaflet.smoothmarkerbouncing.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/materialize-css@1.0.0/dist/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/materialize-css@1.0.0/extras/noUiSlider/nouislider.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/push.js@1.0.12/bin/push.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8.18.6/dist/sweetalert2.all.min.js"></script>

    <!-- Load custom JS before utils.store.js so it can change Store defaults. -->
    {% if custom_js %}
    <script src="static/dist/js/custom.min.js"></script>
    {% endif %}
    <script src="static/js/utils/utils.js"></script>
    <script src="static/js/utils/utils.long.js"></script>
    <script src="static/js/utils/utils.s2geometry.js"></script>
    <script src="static/js/utils/utils.gym.js"></script>
    <script src="static/js/utils/utils.i8ln.js"></script>
    <script src="static/js/utils/utils.item.js"></script>
    <script src="static/js/utils/utils.pokemon.js"></script>
    <script src="static/js/utils/utils.pokestop.js"></script>
    <script src="static/js/utils/utils.store.js"></script>
    <script src="static/js/map/map.gym.js"></script>
    <script src="static/js/map/map.park.js"></script>
    <script src="static/js/map/map.pokemon.js"></script>
    <script src="static/js/map/map.pokestop.js"></script>
    <script src="static/js/map/map.scannedloc.js"></script>
    <script src="static/js/map/map.spawnpoint.js"></script>
    <script src="static/js/map/map.stats.js"></script>
    <script src="static/js/map/map.s2.js"></script>
    <script src="static/js/map/map.weather.js"></script>
    <script src="static/js/map/map.js"></script>

    <script>
      $(document).ready(function() {
          initMap()
      })
    </script>
  </body>
</html>
