<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/header.css">
    <link rel="stylesheet" type="text/css" href="static/css/sidebar.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"/>
  </head>

  <body>
    <header>
      <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper white">
            <ul>
              <li><a href="#nav" data-target="slide-out" class="sidenav-trigger"><i class="material-icons black-text">menu</i></a></li>
              <li><a href="./" class="brand-logo black-text">RocketMap</a></li>
            </ul>
            <ul class="right">
                {% if discordUrl %}
              <li><a href="{{ discordUrl }}" class="hide-on-small-only" title="Discord" target="_blank"><i class="fab fa-discord material-icons black-text"></i></a></li>
                {% endif %}
                {% if messengerUrl %}
              <li><a href="{{ messengerUrl }}" class="hide-on-small-only" title="Messenger" target="_blank"><i class="fab fa-facebook-messenger material-icons black-text"></i></a></li>
                {% endif %}
                {% if telegramUrl %}
              <li><a href="{{ telegramUrl }}" class="hide-on-small-only" title="Telegram" target="_blank"><i class="fab fa-telegram-plane material-icons black-text"></i></a></li>
                {% endif %}
                {% if whatsappUrl %}
              <li><a href="{{ whatsappUrl }}" class="hide-on-small-only" title="WhatsApp" target="_blank"><i class="fab fa-whatsapp material-icons black-text"></i></a></li>
                {% endif %}
                {% if patreonUrl %}
              <li><a href="{{ patreonUrl }}" class="hide-on-small-only" title="Patreon" target="_blank"><i class="fab fa-patreon material-icons black-text"></i></a></li>
                {% endif %}
                {% if donateUrl %}
              <li><a href="{{ donateUrl }}" class="hide-on-small-only" title="Donate" target="_blank"><i class="material-icons black-text">attach_money</i></a></li>
                {% endif %}
                {% if madminUrl %}
              <li><a href="{{ madminUrl }}" class="hide-on-small-only" title="MADmin" target="_blank"><i class="material-icons black-text">info</i></a></li>
                {% endif %}
              <li><a href="stats" class="hide-on-small-only"><i class="material-icons black-text" title="Statistics">pie_chart</i></a></li>
              <li><a class="dropdown-trigger hide-on-med-and-up" href="#" data-target="dropdown1"><i class="material-icons black-text">apps</i></a></li>
              <li><a href="#stats"><i class="material-icons black-text" title="Live stats">equalizer</i></a></li>
            </ul>
          </div>
        </nav>
      </div>
    </header>

    <ul id='dropdown1' class='dropdown-content'>
      <li><a href="stats"><i class="material-icons">pie_chart</i>Statistics</a></li>
        {% if madminUrl %}
      <li><a href="{{ madminUrl }}" target="_blank"><i class="material-icons">info</i>MADmin</a></li>
        {% endif %}
      <li class="divider" tabindex="-1"></li>
        {% if donateUrl %}
      <li><a href="{{ donateUrl }}" target="_blank"><i class="material-icons">attach_money</i>Donate</a></li>
        {% endif %}
        {% if patreonUrl %}
      <li><a href="{{ patreonUrl }}" target="_blank"><i class="fab fa-patreon"></i>Patreon</a></li>
        {% endif %}
      <li class="divider" tabindex="-1"></li>
        {% if discordUrl %}
      <li><a href="{{ discordUrl }}" target="_blank"><i class="fab fa-discord"></i>Discord</a></li>
        {% endif %}
        {% if messengerUrl %}
      <li><a href="{{ messengerUrl }}" target="_blank"><i class="fab fa-facebook-messenger"></i>Messenger</a></li>
        {% endif %}
        {% if telegramUrl %}
      <li><a href="{{ telegramUrl }}" target="_blank"><i class="fab fa-telegram-plane"></i>Telegram</a></li>
        {% endif %}
        {% if whatsappUrl %}
      <li><a href="{{ whatsappUrl }}" target="_blank"><i class="fab fa-whatsapp"></i>WhatsApp</a></li>
        {% endif %}
    </ul>

    <ul id="slide-out" class="sidenav collapsible">
        {% if show.pokemons %}
      <li>
        <div class="collapsible-header">
          <i class="material-icons">pets</i>Pokémon
        </div>
        <div class="collapsible-body">
          <div class="switch">
            <label>
              Pokémon
              <input type="checkbox">
              <span class="lever"></span>
            </label>
          </div>
          <div class="switch">
            <label>
              Nog een switch
              <input type="checkbox">
              <span class="lever"></span>
            </label>
          </div>
          <!--<div class="input-field">
            <input placeholder="Placeholder" id="first_name" type="text" class="validate">
            <label for="first_name">First Name</label>
          </div>-->
        </div>
      </li>
        {% endif %}
      <li>
        <div class="collapsible-header"><i class="material-icons">security</i>Gyms & Raids</div>
        <div class="collapsible-body">
          <div class="switch">
            <label>
              Gyms
              <input type="checkbox">
              <span class="lever"></span>
            </label>
          </div>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">nature</i>PokéStops</div>
        <div class="collapsible-body">
          <div class="switch">
            <label>
              PokéStops
              <input type="checkbox">
              <span class="lever"></span>
            </label>
          </div>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">cloud</i>Weather</div>
        <div class="collapsible-body">
          <div class="switch">
            <label>
              Weather
              <input type="checkbox">
              <span class="lever"></span>
            </label>
          </div>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">map</i>Map</div>
        <div class="collapsible-body">
          <div class="switch">
            <label>
              Test123
              <input type="checkbox">
              <span class="lever"></span>
            </label>
          </div>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">place</i>Location</div>
        <div class="collapsible-body">
          <div class="switch">
            <label>
              Start Map at My Position
              <input type="checkbox">
              <span class="lever"></span>
            </label>
          </div>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">notifications</i>Notifications</div>
        <div class="collapsible-body">
          <div class="switch">
            <label>
              ...
              <input type="checkbox">
              <span class="lever"></span>
            </label>
          </div>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">palette</i>Style</div>
        <div class="collapsible-body">
          <div class="switch">
            <label>
              style
              <input type="checkbox">
              <span class="lever"></span>
            </label>
          </div>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">settings</i>Settings</div>
        <div class="collapsible-body">
          <div><a class="waves-effect waves-light btn"><i class="material-icons left">file_download</i>Import</a></div>
          <div><a class="waves-effect waves-light btn"><i class="material-icons left">file_upload</i>Export</a></div>
          <div><a class="waves-effect waves-light btn"><i class="material-icons left">autorenew</i>Reset</a></div>
        </div>
      </li>
    </ul>

    <!--JavaScript at end of body for optimized loading-->
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
      $(document).ready(function(){
        $('.dropdown-trigger').dropdown({
          constrainWidth: false,
          coverTrigger: false
        });
        $('.sidenav').sidenav();
        $('.collapsible').collapsible();
      });
    </script>
  </body>
</html>
