<!DOCTYPE html>
<html lang="{{lang}}">
<head>
  <meta charset="UTF-8">
  <title>{{ mapTitle }} - Quests</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=3, minimum-scale=1, minimal-ui">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="theme-color" content="#3b3b3b">
  <!-- Fav- & Apple-Touch-Icons -->
  <!-- Favicon -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/appicons/favicon.ico').lstrip('/') }}" type="image/x-icon">
  <!-- non-retina iPhone pre iOS 7 -->
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/appicons/114x114.png').lstrip('/') }}" sizes="57x57">
  <!-- non-retina iPad pre iOS 7 -->
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/appicons/144x144.png').lstrip('/') }}" sizes="72x72">
  <!-- non-retina iPad iOS 7 -->
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/appicons/152x152.png').lstrip('/') }}" sizes="76x76">
  <!-- retina iPhone pre iOS 7 -->
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/appicons/114x114.png').lstrip('/') }}" sizes="114x114">
  <!-- retina iPhone iOS 7 -->
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/appicons/120x120.png').lstrip('/') }}" sizes="120x120">
  <!-- retina iPad pre iOS 7 -->
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/appicons/144x144.png').lstrip('/') }}" sizes="144x144">
  <!-- retina iPad iOS 7 -->
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/appicons/152x152.png').lstrip('/') }}" sizes="152x152">
  <!-- retina iPhone 6 iOS 7 -->
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/appicons/180x180.png').lstrip('/') }}" sizes="180x180">
  <!-- CDN -->
  <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/app.min.css').lstrip('/') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/quests.min.css').lstrip('/') }}">
  <link rel="stylesheet" href="https://cdn.datatables.net/v/dt/dt-1.10.18/r-2.2.2/datatables.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
  <!-- Custom CSS code-->
    {% if show.custom_css %}
  <link rel="stylesheet" type="text/css" href="static/css/custom.css">
    {% endif %}
</head>
<body class="questsPage">
  <!-- Header -->
  <header id="header">
    <div>
      <h1><a href="./"><span class='map-title'>{{ mapTitle }}</span><img class='rocket-icon' src='static/images/header/{{ headerImage }}'></a></h1>
    </div>
    <div>
        {% if discordUrl %}
      <a href="{{ discordUrl }}" id="discord-button" class="header-button" title="Discord" target="_blank"></a>
        {% endif %}
        {% if messengerUrl %}
      <a href="{{ messengerUrl }}" id="messenger-button" class="header-button" title="Messenger" target="_blank"></a>
        {% endif %}
        {% if telegramUrl %}
      <a href="{{ telegramUrl }}" id="telegram-button" class="header-button" title="Telegram" target="_blank"></a>
        {% endif %}
        {% if whatsappUrl %}
      <a href="{{ whatsappUrl }}" id="whatsapp-button" class="header-button" title="WhatsApp" target="_blank"></a>
        {% endif %}
        {% if patreonUrl %}
      <a href="{{ patreonUrl }}" id="patreon-button" class="header-button" title="Patreon" target="_blank"></a>
        {% endif %}
        {% if donateUrl %}
      <a href="{{ donateUrl }}" id="donate-button" class="header-button" title="Donate" target="_blank"></a>
        {% endif %}
        {% if madminUrl %}
      <a href="{{ madminUrl }}" id="madmin-button" class="header-button" title="MADmin" target="_blank"></a>
        {% endif %}
      <a href="stats" id="statistics-button" class="header-button" title="Statistics"></a>
      <a href="#menu" id="menuToggle" class="header-button" title="Menu"></a>
    </div>
  </header>
  <div class="main-container">
    <div id='modal-container'>
      <span id='modal-close' onclick='hideImageModal()'><i class="fas fa-times"></i></span>
      <div id='modal-content'>
        <div>
          <span id='modal-title'></span>
        </div>
        <img id='modal-image'>
      </div>
    </div>
    <nav id="menu">
      <div class="menu-link">
        <a href="stats" id="stats-link">Statistics</a>
      </div>
        {% if madminUrl %}
      <div class="menu-link">
        <a href="{{ madminUrl }}" id="madmin-link" target="_blank">MADmin</a>
      </div>
        {% endif %}
        {% if donateUrl %}
      <div class="menu-link">
        <a href="{{ donateUrl }}" id="donate-link" target="_blank">Donate</a>
      </div>
        {% endif %}
        {% if patreonUrl %}
      <div class="menu-link">
        <a href="{{ patreonUrl }}" id="patreon-link" target="_blank">Patreon</a>
      </div>
        {% endif %}
        {% if discordUrl %}
      <div class="menu-link">
        <a href="{{ discordUrl }}" id="discord-link" target="_blank">Discord</a>
      </div>
        {% endif %}
        {% if messengerUrl %}
      <div class="menu-link">
        <a href="{{ messengerUrl }}" id="messenger-link" target="_blank">Messenger</a>
      </div>
        {% endif %}
        {% if telegramUrl %}
      <div class="menu-link">
        <a href="{{ telegramUrl }}" id="telegram-link" target="_blank">Telegram</a>
      </div>
        {% endif %}
        {% if whatsappUrl %}
      <div class="menu-link">
        <a href="{{ whatsappUrl }}" id="whatsapp-link" target="_blank">WhatsApp</a>
      </div>
        {% endif %}
    </nav>
    <div id="quests-container">
      <div style="height: 100%;">
        <table id="quests-table" class="display pageResize" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>PokéStop</th>
              <th>Task</th>
              <th>Reward</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
    <div id="loading"><img src="{{ url_for('static', filename='images/loading.gif').lstrip('/') }}" alt="Loading"/></div>
  </div>
  <!-- Load JS libs before custom scripts. -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
          integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
          crossorigin="anonymous"></script>
  <script src="https://cdn.datatables.net/v/dt/dt-1.10.18/r-2.2.2/datatables.min.js"></script>
  <script src="https://cdn.datatables.net/plug-ins/1.10.19/features/scrollResize/dataTables.scrollResize.min.js"></script>
  <script src="https://cdn.datatables.net/plug-ins/1.10.20/sorting/natural.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  <script>
    var centerLat = {{lat}};
    var centerLng = {{lng}};
    var generateImages = {{generateImages}};
  </script>
  <!-- Leaflet libs. -->

  <script src="{{ url_for('static', filename='dist/js/map.common.min.js').lstrip('/') }}"></script>
  <!-- Load custom JS before statistics.js so it can change Store defaults. -->
    {% if show.custom_js %}
  <script src="{{ url_for('static', filename='dist/js/custom.min.js').lstrip('/') }}"></script>
    {% endif %}
  <script src="{{ url_for('static', filename='dist/js/app.min.js').lstrip('/') }}"></script>
  <script src="{{ url_for('static', filename='dist/js/quests.min.js').lstrip('/') }}"></script>
</body>
</html>
